{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block title %}iCMS - EPR Manage Activity {% endblock %}

{% block page_content %}

<div class="page-header">
    <div class="activity-header">
        <h1> Project:
            <a href="{{ url_for('manage.project', code='%s' % activity.project.code) }}"> {{ activity.project.name }} </a>
            in {{ year }}
        </h1>
        <h1> Activity: {{ activity.name }} </h1>

        {% if activity.status != 'ACTIVE' %}
            <h2 class="red">NOTE: this activity is presently not active ({{ activity.status }})</h2>
        {%  endif %}
    <p>
        {% macro activityName(name) -%}
        <input type="hidden" name="activity" value="{{ name }}" />
        {%- endmacro %}

        <h2>Description: </h2> <h4> {{ activity.description|safe }} <br/> </h4>

    </p>
    </div>
    <div class="project-body brick padded">
        <p>
        <div class="form">
            {% if current_user.canManage('activity', activity.code, year=session['year']) or current_user.is_administrator() %}
                {% if form %}
                    {{ wtf.quick_form(form) }}
                {% endif %}
            {% endif %}
        </div>
        </p>

        {%  if activity.status != 'DELETED' %}
        <p>
            {% if activeTasks %}
            <h3> Tasks for activity {{ activity.name }}</h3>
            <ul>
            {% for t in activeTasks %}
                <li> <a href="{{ url_for('manage.task', code=t.code) }}">{{ t.name }}</a> : {{ t.description }} </li>
            {% endfor %}
            </ul>
        {% else %}
                <h3> No tasks for activity {{ activity.name }} in {{ year }} found. </h3>
        {% endif %}
        </p>

            <div class="form-grou-p required">
                {% if activeTasks %}
                    <div >If you want to delete this activity, all of the above tasks associated with it have to be deleted first. <br />
                    </div>
                {% else %}
                    <button id="deleteConfirm" class="confirm btn-danger" type="button">Delete Activity</button>
                {% endif %}
                <br />
            </div>

            {% if current_user.is_administrator() %}
            <div>
                <br/>
                <form action="{{ url_for('main.newTask', actCode='%s' % activity.code) }}" method="get">
                    <input type="submit" value="Add Task" />
                </form>
            </div>
            {% endif %}
        {%  endif %}

    </div>
</div>

{% endblock %}

<p>
    {{ groups }}
</p>

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script type="text/javascript">
    var csrftoken = "{{ csrf_token() }}"
</script>

<script language="JavaScript">
$(document).ready(function()
{

    $("#patCode").css('padding', '20p').hide();

});

{#$(document).bind("ajaxSend", function () {#}
{#            console.log("waiting for all requests to complete...");#}
{#            // ajaxStop (Global Event)#}
{#            // This global event is triggered if there are no more Ajax requests being processed.#}
{#}).bind("ajaxStop", function () {#}
{#            // maybe reload here?#}
{#            location.reload();#}
{#});#}

$("#deleteConfirm").confirm({
    text: "Really OK to delete activity '{{ activity.name }}' ?",
    confirm: function(button) {
            // alert("You just confirmed.");
            var jqxhr = $.ajax( {
                url: '{{ url_for("api.deleteActivity") }}',
                method : 'POST',
                data: {
                    "year" : '{{ session['year'] }}',
                    "actCode" : "{{ activity.code }}",
                    "target" : "{{ target }}",
                    },
                })
                .done( function(data, textStatus, jqXHR) {
{#                    alert( textStatus );#}
                })
                .always( function( jqxhr, textStatus ) {
{#                    alert( textStatus );#}
                    document.location.reload();
                })
                .fail( function(data, textStatus, jqXHR) {
                    console.log(data);
                    alert( textStatus );
                    document.location.reload();
                });
    },
    cancel: function(button) {
        alert("Activity NOT deleted.");
    },
    confirmButton: "Yes, delete",
    cancelButton: "Nope, abort abort!",
    confirmButtonClass: "btn-danger",
    cancelButtonClass: "btn-info",
});

</script>

{% endblock %}
