{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block title %}iCMS - EPR User Management {% endblock %}

{% block page_content %}

<div class="page-header">
    <div class="project-header">
        <h1>iCMS - EPR User Management </h1>
    </div>

    <h3>
        Manage users
    </h3>

    <div class="confirm-field">
        <div class="form" id="selectedUsers">
        </div>
        <form>
            <input type="hidden" id="userList" name="userList" value="" />
            <input type="submit" value="Confirm addition of selected users" />
        </form>
    </div>

</div>

    <!-- search boxes for individual searching -->
    <p>Type in these boxes to activate column-specific search. Search in different boxes are AND-ed. </p>
    <table cellpadding="3" cellspacing="0" border="0" style="width: 67%; margin: 0 auto 2em auto;">
        <thead>
            <tr>
                <th>Target</th>
                <th>Search text</th>
                <th>Treat as regex</th>
                <th>Use smart search</th>
            </tr>
        </thead>
        <tbody>
            <tr id="filter_global">
                <td>Global search</td>
                <td align="center"><input type="text" class="global_filter" id="global_filter"></td>
                <td align="center"><input type="checkbox" class="global_filter" id="global_regex"></td>
                <td align="center"><input type="checkbox" class="global_filter" id="global_smart" checked="checked"></td>
            </tr>

        {% for colName in ["CERN login", "Name", "Category", "isSuspended", "Status", "Main Inst. Name", "Main Inst ID", "cmsId", "hrId"] %}
            <!-- loop indices start at 1 ... -->
            <tr id="filter_col{{loop.index}}" data-column="{{loop.index-1}}">
                <td>Column: {{colName}}</td>
                <td align="center"><input type="text" class="column_filter" id="col{{loop.index-1}}_filter"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col{{loop.index-1}}_regex"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col{{loop.index-1}}_smart" checked="checked"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <table id="userTable" class="display compact" cellspacing="0" width="100%">
        <thead>
            <tr>
                {% for colName in ["CERN login", "Name", "Category", "isSuspended", "Status", "Main Inst. Name", "Main Inst ID", "cmsId", "hrId"] %}
                <th> {{colName}} </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script language="JavaScript">

$(document).ready(function()
{
    $("#done").css("padding", "20p").hide();

    var selectedUsers = $("#selectedUsers");
    var userList = $('#userList');
    var uList = '';

    function filterGlobal () {
        $('#userTable').DataTable().search(
            $('#global_filter').val(),
            $('#global_regex').prop('checked'),
            $('#global_smart').prop('checked')
        ).draw();
    }

    function filterColumn ( i ) {
        $('#userTable').DataTable().column( i ).search(
            $('#col'+i+'_filter').val(),
            $('#col'+i+'_regex').prop('checked'),
            $('#col'+i+'_smart').prop('checked')
        ).draw();
    }

    $("#userTable").DataTable({

        "ajax": "{{ url_for("api.getAllUsers") }}",
        // "deferRender": true,
        "dom": '<"top"Bif>rt<"bottom"flp><"clear">',
        select : {
            style: 'multi'
        },
        "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"] ],
        buttons: [
            {
                text: 'Show selected users',
                action: function () {
                    var selRows = table.rows( { selected: true } );
                    var count = selRows.count();
                    var users = '';
                    for (r=0; r < selRows[0].length; r++) {
                        index = selRows[0][r];
                        row = table.row(index).data();
                        users = users + '<br/>Name: '+row[0];
                        if ( uList.indexOf(row[2]) == -1) {
                            uList = uList + row[2] + ","; // send back cmsId
                        }
                    };
                    selectedUsers.html( '<div>'+count+' row(s) selected'+users+'</div>' );
                    userList.val( uList );
                    $("#done").show();
                }
            }
        ],
        columns : [
            { data: 'username' },
            { data: 'name' },
            { data: 'category' },
            { data: 'suspended' },
            { data: 'status' },
            { data: 'instName' },
            { data: 'mainInst' },
            { data: 'cmsId' },
            { data: 'hrId' },
        ]
    } );

    // for the individual searches
    $('input.global_filter').on( 'keyup click', function () {
        filterGlobal();
    } );
    $('input.column_filter').on( 'keyup click', function () {
        filterColumn( $(this).parents('tr').attr('data-column') );
    } );


    //callback handler for form submit
    $("#done").submit(function(e)
    {
        var postData = $(selected).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax(
        {
            url : formURL,
            type: "POST",
            data : postData,
            success:function(data, textStatus, jqXHR)
            {
                alert(data);
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
                alert("Error from server: "+textStatus);
            }
        });
        e.preventDefault(); //STOP default action
        e.unbind(); //unbind. to stop multiple form submit.
    });

    $("#done").submit(); //Submit  the FORM

});
</script>
{% endblock %}
