{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

<script type="text/javascript">
  let result0;
  let result1;
  function updateAsset(keyIn, valIn) {
    $.ajax({
      type: "POST",
      url: "{{ url_for("api.setAsset") }}",
      data: { "key": keyIn, "value": valIn },
      success: function (data) { 
          window.location.href = "{{ url_for('manage.assets') }}";
      },
    });
  }

  function allowNewPledges() {
    updateAsset( "newPledgesAllowed", "1" );

  }

  function disallowNewPledges() {
    updateAsset( "newPledgesAllowed", "0" );
  }
    
  function enablePledges(){
    updateAsset( "pledgesEnabled", "1" )
  }
  function disablePledges(){
    updateAsset( "pledgesEnabled", "0" )
  }

  function allowUpdatingPledges(){
    updateAsset( "pldUpdateEnabled", "1" )
  }
  function disallowUpdatingPledges(){
    updateAsset( "pldUpdateEnabled", "0" )
  }
</script>

{% endblock %}

{% block title %}iCMS - EPR Manage Activity {% endblock %}

{% block page_content %}

<div class="page-header brick padded">
  <div>
    <a href="#" onclick="return enablePledges();">Enable Pledges</a>  --  
    <a href="#" onclick="return disablePledges();">Disable Pledges</a> 
  </div>
  ++++ 
  <div>
    <a href="#" onclick="return allowUpdatingPledges();">Allow Updating Pledges</a>  --  
    <a href="#" onclick="return disallowUpdatingPledges();">Disallow Updating Pledges</a> 
  </div>
  ++++ 
  <div>
    <a href="#" onclick="return allowNewPledges();">Allow New Pledges</a>  --  
    <a href="#" onclick="return disallowNewPledges();">Disallow New Pledges</a> 
  </div>
</div>

<div class="page-header brick padded">

    Assets: 
    <!-- https://stackoverflow.com/questions/11922893/jinja2-and-json -->
    <div>
      <code>{
      {% for key, value in assets.items() recursive %}
        {% if key in ['pledgeYear', 'pledgesEnabled', 'pldUpdateEnabled', 'newPledgesAllowed'] %}
          {% if value is mapping %}
          <p>
          {% for it in range(loop.depth) %}&nbsp;&nbsp;{% endfor %}{{key}}: {
          </p>
          {{ loop(value.items()) }}
          <p>
            {% for it in range(loop.depth) %}&nbsp;&nbsp;{% endfor %}}
          </p>
          {% else %}
          <p>
            {% for it in range(loop.depth) %}&nbsp;&nbsp;{% endfor %}{{key}}: {{value}},
          </p>
          {% endif %}
        {% endif %}
      {% endfor %}
      }</code>
    </div>
    <div>
      <code>{
      {% for key, value in assets.items() recursive %}
        {% if key not in ['pledgeYear', 'pledgesEnabled', 'pldUpdateEnabled', 'newPledgesAllowed'] %}
          {% if value is mapping %}
          <p>
          {% for it in range(loop.depth) %}&nbsp;&nbsp;{% endfor %}{{key}}: {
          </p>
          {{ loop(value.items()) }}
          <p>
            {% for it in range(loop.depth) %}&nbsp;&nbsp;{% endfor %}}
          </p>
          {% else %}
          <p>
            {% for it in range(loop.depth) %}&nbsp;&nbsp;{% endfor %}{{key}}: {{value}},
          </p>
          {% endif %}
        {% endif %}
      {% endfor %}
      }</code>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script type="text/javascript">
    var csrftoken = "{{ csrf_token() }}"
</script>

<script language="JavaScript">
$(document).ready(function()
{

    $("#patCode").css('padding', '20p').hide();

});

</script>

{% endblock %}
