{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block title %}iCMS - EPR Edit User{% endblock %}

{% block page_content %}

<div class="page-header">
    <div class="project-header">
        <h1>iCMS - EPR Edit User </h1>
    </div>

    <h3>
        Edit info for user {{ user.name }}  -- change/add the cmsId in the URL to edit another user
    </h3>

    <div class="confirm-field">
        <div class="form" id="selectedUsers">
        </div>
            <input type="hidden" id="userList" name="userList" value="" />
            <input type="submit" value="Confirm addition of selected users" />
        </form>
    </div>

</div>

<div>
    {{ wtf.quick_form(form) }}
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.0.1/js/dataTables.select.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.0.3/js/dataTables.buttons.min.js"></script>

<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.js') }}"></script>

<script language="JavaScript">
$(function() {

    var dialogU, formU, dialogI, formI;
    var userId, instId;

    $( "#userSel-1" ).autocomplete( {
        autoFocus: true,
        minLength: 3,
        source: '{{ url_for("api.searchUsers") }}',
        select: function( event, ui ) {
                var userId = ui.item.value;
                var hrID = userId.substring( userId.lastIndexOf('CERNid: ')+8, userId.indexOf(')') );
                // console.log("userid: " + userId, ' - hrid: '+ hrID);
                var urlSearch = '{{ url_for("api.getUserByHrId") }}'+hrID;
                // console.log('url='+urlSearch);
                $.ajax( {
                            url : urlSearch,
                            type: "GET",
                            success:function(data, textStatus, jqXHR)
                            {
                                // alert(data);
                                console.log(data);
                                $("#username").val(data.user.username);
                                $("#name").val(data.user.name);
                                $("#hrId").val(data.user.hrId);
                                $("#cmsId").val(data.user.cmsId);
                                $("#instCode").val(data.inst.code);
                                $("#status").val(data.user.status);
                                $("#category").val(data.user.category);
                                $("#authorReq").val(data.user.authorReq);
                                $("#isSusp").val(data.user.isSuspended);
                                $("#comment").val(data.user.comment);
                            },
                            error: function(jqXHR, textStatus, errorThrown)
                            {
                                alert("Error from server: "+textStatus);
                            }
                });
                instId = getInstId( ui.item.value );
                $( "#userSel-1" ).autocomplete("close");
              }
    } );

    $( "#userSel-2" ).autocomplete( {
        autoFocus: true,
        minLength: 3,
        source: '{{ url_for("api.searchUsersLdap") }}',
        select: function( event, ui ) {
                var userDN = ui.item.value;
                var hrId = userDN.substring( userDN.lastIndexOf(' -- ')+4, userDN.length );
                // console.log("userDN: " + userDN + ' - hrId: "'+hrId+'"');
                var searchUrl = '{{ url_for("api.ldapUserByHrId") }}'+hrId;
                // console.log('url='+searchUrl);
                $.ajax( {
                            url : searchUrl,
                            type: "GET",
                            success:function(data, textStatus, jqXHR)
                            {
                                // alert(data);
                                console.log(data);
                                $("#username").val(data.user.username);
                                $("#name").val(data.user.name);
                                $("#hrId").val(data.user.hrId);
                            },
                            error: function(jqXHR, textStatus, errorThrown)
                            {
                                alert("Error from server: "+textStatus);
                            }
                });
                instId = getInstId( ui.item.value );
                $( "#userSel-1" ).autocomplete("close");
              }
    } );

});
</script>

<script language="JavaScript">
$(document).ready(function()
{
    $("#done").css('padding', '20p').hide();

    var selectedUsers = $('#selectedUsers');
    var userList = $('#userList');
    var uList = '';

    var table = $('#userTable').DataTable( {
        "ajax": "{{ url_for("api.getUsers") }}",
        // "deferRender": true,

        dom: 'lBfrtlip',
        select: {
            style: 'multi'
        },
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        buttons: [
            {
                text: 'Show selected users',
                action: function () {
                    var selRows = table.rows( { selected: true } );
                    var count = selRows.count();
                    var users = '';
                    for (r=0; r < selRows[0].length; r++) {
                        index = selRows[0][r];
                        row = table.row(index).data();
                        users = users + '<br/>Name: '+row[0];
                        if ( uList.indexOf(row[2]) == -1) {
                            uList = uList + row[2] + ","; // send back cmsId
                        }
                    };
                    selectedUsers.html( '<div>'+count+' row(s) selected'+users+'</div>' );
                    userList.val( uList );
                    $("#done").show();
                }
            }
        ],
        columns : [

            { data: 'username' },
            { data: 'name' },
            { data: 'cmsId' },
            { data: 'hrId' },
            { data: 'mainInst' },
            { data: 'authorReq' },
        ]
    } );

    //callback handler for form submit
    $("#done").submit(function(e)
    {
        var postData = $(selected).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax(
        {
            url : formURL,
            type: "POST",
            data : postData,
            success:function(data, textStatus, jqXHR)
            {
                alert(data);
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
                alert("Error from server: "+textStatus);
            }
        });
        e.preventDefault(); //STOP default action
        e.unbind(); //unbind. to stop multiple form submit.
    });

    $("#done").submit(); //Submit  the FORM

});
</script>
{% endblock %}
