{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block styles %}
{{ super() }}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">

{% endblock %}

{% block title %}iCMS - EPR Edit Project Ceilings for {{ year }} {% endblock %}

{% block page_content %}

<div id="status" name="status" class="alert-info" hidden></div>

<div class="page-header">
    <h1>iCMS - EPR Edit Project Ceilings for {{ year }} </h1>
</div>

    <p>
    </p>

<div name="tableButtons" id="tableButtons"></div>

    {% if current_user.is_administrator() %}
    <button>Submit Changes</button>
    {% endif %}

<div class="brick huge padded">
    <table id="projCeilingTable" class="display compact cell-border" cellspacing="0" width="40%">
        <thead>
            <tr>
                <th>Project</th>
                <th>Ceiling</th>
                <th hidden>ProjectCode</th>
            </tr>
        </thead>

        <tbody>
        </tbody>

        <tfoot>
            <tr>
                <th>Project</th>
                <th>Ceiling</th>
                <th hidden>ProjectCode</th>
            </tr>
        </tfoot>
    </table>
</div>

<div id="dialog-message" title="Edit Ceiling" hidden>

    <form role="form" id="ceiling-selector" name="ceiling-selector" class="search-form" method="post">
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        <input id="proj_year" name="proj_year" type="hidden" value="{{ year }}">
        <div class="form-group">
            <label for="projName">Project</label>
            <select id="projName" name="projName">
            </select>
        </div>

        <div class="form-group">
            <label for="projCeiling">Ceiling</label>
            <select id="projCeiling" name="projCeiling"></select>
            <input id="proj_code" name="proj_code" type="hidden" value="">
        </div>

{#        <input type="submit" class="btn btn-info" value="Select Shift" id="selectButton" name="selectButton" disabled>#}

    </form>
</div>



{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}


<script language="JavaScript">
$(document).ready(function() {

    var pList = [];
    {% for c in projects %}
        pList.push( { "{{ c[0] }}": "{{ c[1] }}" } );
    {% endfor %}

    var table = $("#projCeilingTable").DataTable({
        "deferRender": true,
        stateSave: true,
        // "fixedHeader" : true,
        "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
        // see: https://datatables.net/examples/basic_init/dom.html
        "dom": icmsEprDOM(),
        "ajax": {
            url: "{{ url_for('api.projCeilings') }}",
            data: {"year": {{year}}, "projects" : JSON.stringify( pList ) },
            "dataSrc": "data",
            method: "POST"
        },
        "columnDefs": [
            { data: "name",    targets: 0 },
            { data: "ceiling", targets: 1,
                "render": {
                    _: function (data, type, row) {
                        var code = row.code;
                        var bgdCol = "white";
                        if (data > 0) {
                            bgdCol = "lawngreen"
                        }
                        ;
                        return '<input class="' + bgdCol + '" type="text" id="' + code + '" name="' + code + '" value="' + data + '">';
                    },
                    sort: function (data, type, row) {
                        return parseFloat(data);
                    }
                }
            },
            { data: "code", targets: 2,
                render: function( data, type, row) {
                    return '<div hidden>'+data+'</div>';
                }
            },
        ]
    });

    // check every second to see if some value was changed ...
    setTimeout( function() {
        $(".lawngreen").keyup(function(event){
            $(this).removeClass("lawngreen").addClass("orangered").css("color", "white");
            $('button').addClass("orangered").css("color", "white");
        });
    }, 1000);

    $('button').click( function() {
        var data = table.$('input').serialize();
        var jqxhr = $.ajax( {
                method : "POST",
                url: '{{ url_for("api.updateCeilings") }}',
                data: {
                    "year" : {{ session['year'] }},
                    "data" : data,
                    },
                })
                .done( function(data, textStatus, jqXHR) {
                    $('#status').html(data.status+": "+data.message).show();
                    setTimeout(function() { $('#status').fadeOut('fast').html(''); }, 3000); // hide status after three seconds and reset
                    table.ajax.reload();  // refresh table to reflect new status
                    $(this).removeClass("orangered").css("color", "black");
                    $('button').removeClass("orangered").css("color", "black");
                })
                .fail( function(data, textStatus, jqXHR) {
                    console.log(data);
                    console.log(textStatus);
                    alert( "error updating user info: "+data.statusText );
                });
        return false;
    } );

}); // end document.ready ...

</script>

{% endblock %}
