{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block title %}iCMS - EPR Manage Tasks for Project {{ project.name }} in {{ year }} {% endblock %}

{% block page_content %}

<div class="page-header">

    <div class="task-header">
        <h2>Task management for Project {{ project.name }} in {{ year }} </h2>
</div>
<div>
    <button type="submit">Confirm changes and send to DB</button>
    <br />
</div>

<div name="tableButtons" id="tableButtons"></div>
    <div class="brick huge padded">
        <table id="projectTaskTable" class="display compact cell-border" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th> </th>
                    <th>Project</th>
                    <th>Activity</th>
                    <th class="left-border">TaskName</th>
                    <th>Work Needed</th>
                    <th>Work Done</th>
                    <th>Fraction Done</th>
                    <th>Work Pledged (nPledges)</th>
                    <th>Fraction Pledged</th>
                    <th>% of work at CERN</th>
                    <th>Type of task</th>
                    <th>Kind</th>
                    <th>Locked</th>
                    <th>Status</th>
                    <th>Comment</th>
                    <!--<th>TaskCode</th>           &lt;!&ndash; contains taskId, userId and instId &ndash;&gt;-->
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th> </th>
                    <th>Project</th>
                    <th>Activity</th>
                    <th>TaskName</th>
                    <th>Work Needed</th>
                    <th>Work Done</th>
                    <th>Fraction Done</th>
                    <th>Work Pledged (nPledges)</th>
                    <th>Fraction Pledged</th>
                    <th>% of work at CERN</th>
                    <th>Type of task</th>
                    <th>Kind</th>
                    <th>Locked</th>
                    <th>Status</th>
                    <th>Comment</th>
                    <!--<th>TaskCode</th>           &lt;!&ndash; contains taskId, userId and instId &ndash;&gt;-->
                </tr>
                <tr> <!-- for the search fields -->
                    <td> </td>
                    <td>Project</td>
                    <td>Activity</td>
                    <td>TaskName</td>
                    <td>Work Needed</td>
                    <td>Work Done</td>
                    <td>Fraction Done</td>
                    <th>Work Pledged (nPledges)</th>
                    <td>Fraction Pledged</td>
                    <td>% of work at CERN</td>
                    <td>Type of task</td>
                    <td>Kind</td>
                    <td>Locked</td>
                    <td>Status</td>
                    <td>Comment</td>
                    <!--<th>TaskCode</th>           &lt;!&ndash; contains taskId, userId and instId &ndash;&gt;-->
                </tr>
            </tfoot>
        </table>

    </div>

</div>

{% endblock %}

<p>
    {{ groups }}
</p>

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script language="JavaScript">
$(document).ready(function()
{

    function setupYesNoSelector(id, val, yesNoMap={yesVal:"Yes", noVal:"No"}) {
        var yesVal = yesNoMap.yesVal;
        var noVal  = yesNoMap.noVal;

        var txt, yesSel, noSel;
        if ( typeof(val) === typeof(false) ) {
            txt = val ? yesVal : noVal;
            yesSel = val ? ' selected="selected"' : '';
            noSel  = val ? ''                     : ' selected="selected"';
        } else {
            txt = (val === yesVal) ? yesVal : noVal;
            yesSel = (val === yesVal) ? ' selected="selected"' : '';
            noSel  = (val === yesVal) ? ''                     : ' selected="selected"';
        }


        var selStr = '<select size="1" id="'+id+'" name="'+id+'">';
        selStr += '<option value='+yesVal+' ' + yesSel + '> '+yesVal+' </option>';
        selStr += '<option value='+noVal +' ' + noSel  + '> '+noVal +' </option>';
        return selStr;
    }

    // column-wise search
    $('#projectTaskTable tfoot th').each( function () {
        var title = $(this).text();
        if (title.length == 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    } );
    var start;
    var events = $("#events");

    var tableT = $("#projectTaskTable").DataTable({
        "deferRender": true,
        stateSave: true,
        // "fixedHeader" : true,
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        // see: https://datatables.net/examples/basic_init/dom.html
        "dom": icmsEprDOM(),

        "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api();
            return footerSummaries( row, data, start, end, display, [4,5,7,8], api );
        },

        "ajax": {
            {%  if project %}
                url : '{{ url_for("api.projectTaskInfo", code=project.code) }}',
            {% else %}
                url : '{{ url_for("api.projectTaskInfo", code="all") }}',
            {% endif %}
            type:"POST",
            data: { "year" : {{ year }} },
            "dataSrc": "projectTasks",
            beforeSend: function() {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading info ... ');
            },
            complete: function() {
                var stop = new Date().getTime();
                $("#loading-time").html('Loading took '+ (stop-start).toFixed(0) +' msec.');
            },
        },
        "columnDefs": [

            // add a first column with checkboxes
            {
               orderable: false,
               className: 'select-checkbox',
               targets : 0
            },
            { "data": "checkbox"   , targets:0 },
            { "data": "pName"      , targets:1,
               className : "project-description",
               "render": function ( data, type, row ) { return data+'<div id="project-desc"></div>'; }
             },
            { "data": "aName"      , targets:2,
               className : "activity-description",
               "render": function ( data, type, row ) { return data+'<div id="activity-desc"></div>'; }
            },
            { "data": "task.name"  , targets:3, // add descriptions for tasks
               class : "left-border task-description",
               "render": function ( data, type, row ) { return data+'<div id="task-desc"></div>'; }
            },
            { "data": "task.neededWork" , targets:4,
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "sumDone"         , targets:5,
                   class : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "pctDone"         , targets:6,
                   class : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2)+'<div id="task-pledges"></div>';}
            },
            { "data": "sumPledged" , targets: 7,
                   class : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2)+'<div id="task-pledges"></div>';}
            },
            { "data": "pctPld"  , targets: 8,
                   class : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "task.pctAtCERN" , targets: 9,
                  "render": function ( data, type, row ) {
                                    if (data < 1.5) {
                                       return ' '+(data*100.).toFixed(0);
                                    } else {
                                       return ' '+data.toFixed(0);
                                    }
                                  }
            },
            { "data": "task.taskType"   , targets: 10,
              "render": function ( data, type, row ) {
                            return data + '<br/>(' + row.task.kind + ')';
                        }
            },
            { "data": "task.kind"    , targets: 11 },
            { "data": "task.locked"  , targets: 12 ,
                      "render": function ( data, type, row ) {
                                var id = 'taskLock-'+row.task.code;
                                return setupYesNoSelector(id, data);
                             }
            },
            { "data": "task.status"  , targets: 13,
                      "render": function ( data, type, row ) {
                                var id = 'taskStat-'+row.task.code;
                                return setupYesNoSelector(id, data, yesNo = { yesVal : "ACTIVE", noVal : "DELETED"} );
                             }
            },
            { "data": "task.comment" , targets: 14 },
        ],
        // add colour to the taks done related fields
        "createdRow": function ( row, data, index ) {
            if (data['task']['neededWork'] != '-') {
                var col = getColour(data['pctDone']);
                $('td', row).eq(4).addClass(col);
                $('td', row).eq(5).addClass(col);

                col = getColour(data['pctPld']);
                $('td', row).eq(7).addClass(col);
                $('td', row).eq(8).addClass(col);
            }
            if (data['editTask'].trim() != '') {
                $(row).addClass('canManage');
            }
        },
        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },

    });

    setupColSearch(tableT);
    addEvtListeners( 'projectTaskTable', tableT, {{ year }} );

    // add our buttons to the table and prepend them to the table:
    icmsEprButtons( { buttonDivName : 'tableButtons' } );

    // update DB once confirm button is clicked ...
    $('button').click( function() {
        var data = tableT.$('input, select').serialize();
//        alert(
//             "The following data would have been submitted to the server: \n\n"+
//             data.substr( 0, 120 )+'...'
//             );

        var jqxhr = $.ajax( {
                method : "POST",
                url: '{{ url_for("manage.manageProjTasks") }}',
                data: {
                    "year" : {{ session['year'] }},
                    "data" : data,
                    'projCode' : "{{ project.code }}"
                    },
                })
                .done( function(data, textStatus, jqXHR) {
                       tableT.ajax.reload();  // refresh table to reflect new status
                })
                .fail( function(data, textStatus, jqXHR) {
                      alert( "error updating user info ... "+textStatus );
                });
    });

});
</script>

{% endblock %}
