{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block styles %}
{{ super() }}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">

{% endblock %}

{% block title %}iCMS - EPR Manage Users for {{ code }} in {{ year }} {% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>iCMS - EPR Manage Users for {{ code }} in {{ year }} </h1>
</div>

<div class="form">
    {% if form %}
        {{ wtf.quick_form(form) }}
    {% endif %}
</div>

<p>
    <hr />
</p>

<button id="showHideHelp" type='button'>Show Help</button>
<div id="info-help" hidden>
    <p>
        Clicking on the headers of the columns sorts them, a second click on the header reverses the sorting order.
    </p>
    <p>
        At the bottom of the table you find fields to search in individual columns. Independent searches will be combined with "AND".
    </p>
    <p>
        You can select individual rows by clicking on the checkbox in the first column. The selected rows can then be exported in various ways by clicking on the "Export selected..." button, and selecting the desired format in the pop-up menu from there.
    </p>
</div>

<div>
    <button type="submit">Submit form</button>
</div>

<div name="tableButtons" id="tableButtons"></div>

<div class="brick huge padded">
    <table id="instituteTable" class="display compact cell-border" cellspacing="0" width="90%">
        <thead>
            <tr>
                <th>select</th>
                <th>Name</th>
                <th>Category</th>
                <th>Project</th>
                <th>Activity</th>
                <th>Pledged</th>
                <th>Accepted</th>
                <th>WorkDone</th>
                <th>Shifts</th>
                <th>Due</th>
                <th>Suspended</th>
                <th>IsAuthor</th>
                <th>status</th>
                <th>userInfo (iCMS)</th>
                <th>changeInst</th>
                <th>username</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Category</th>
                <th>Project</th>
                <th>Activity</th>
                <th>Pledged</th>
                <th>Accepted</th>
                <th>WorkDone</th>
                <th>Shifts</th>
                <th>Due</th>
                <th>Suspended</th>
                <th>IsAuthor</th>
                <th>status</th>
                <th>userInfo (iCMS)</th>
                <th>changeInst</th>
                <th>username</th>
            </tr>
        </tfoot>
    </table>
</div>


{% endblock %}

<p>
    {{ groups }}
</p>

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script language="JavaScript">
$(document).ready(function() {

    // column-wise search
    $('#instituteTable tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

    function setupYesNoSelector(id, val) {
        var txt = val ? "Yes" : "No";
        var yesSel = val ? ' selected="selected"' : '';
        var noSel  = val ? '' : ' selected="selected"';

        var selStr = '<select size="1" id="'+id+'" name="'+id+'">';
        selStr += '<option value="Yes"' + yesSel + '> Yes </option>';
        selStr += '<option value="No"' + noSel +'> No </option>';
        return selStr;
    }


    var start;
    var table = $('#instituteTable').DataTable({
        stateSave: true,
        "dom": icmsEprDOM(),
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],

        "ajax": {
            "url": "{{ url_for("api.instituteInfo", code=code) }}",
            method : "POST",
            data: { "year" : {{ year }} },
            beforeSend: function() {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading info ... ');
            },
            complete: function() {
                var stop = new Date().getTime();
                $("#loading-time").html('Loading data took '+ (stop-start).toFixed(0) +' msec.');
            },
        },
        "columnDefs": [
            // add a first column with checkboxes
            {
               orderable: false,
               visible: false,
               className: 'select-checkbox',
               "data" : "check",
               targets : 0,
            },
            {
                // The `data` parameter refers to the data for the cell (defined by the
                // `data` option, which defaults to the column being worked with, in
                // this case `data: 0`.
                "render": function ( data, type, row ) {
                    var username = row['username'];
                    var url = '{{ url_for("main.showUser", username=username) }}';
                    return '<a href="'+url+'"> '+data+' </a>';
                },
                "targets": 1
            },
            {
                "render": function ( data, type, row ) {
                    if (data) {
                        return ' ' + data.toFixed(2);
                    } else {
                        return '-';
                    }
                },
                "targets": [5,6,7,8,9]
            },
            { "data": "name"    , targets: 1 },
            { "data": "category", targets: 2 },
            { "data": "project" , targets: 3 },
            { "data": "activity", targets: 4, visible: false },
            { "data": "pledged" , targets: 5 },
            { "data": "accepted", targets: 6 },
            { "data": "done"    , targets: 7 },
            { "data": "shifts"  , targets: 8 },
            { "data": "eprDue"  , targets: 9 },
            { "data": "suspended",targets: 10 ,
                      "render": function ( data, type, row ) {
                                            var id = 'susp-'+row["cmsId"];
                                            return setupYesNoSelector(id, data);
                                         }
            },
            { "data": "isAuthor", targets: 11,
                      "render": function ( data, type, row ) {
                                            var id = 'auth-'+row["cmsId"];
                                            return setupYesNoSelector(id, data);
                                         }
            },
            { "data": "status"  , targets: 12 },
            { "data": "cmsId", targets: 13,
                      "render": function ( data, type, row ) {
                                    if (data) {
                                        var link = 'http://cms.cern.ch/iCMS/jsp/secr/stats/peopleDetailInfo1_1.jsp?CMSid='+data;
                                        return '<a href="'+link+'">'+data+'</a>';
                                    }
                                }
            },
            { "data": null,
              targets: 14,
                      "render": function ( data, type, row ) {
                                    var val = row["cmsId"];
                                    if ( val && $.isNumeric(val) ) {
                                        var link = $SCRIPT_ROOT + '/manage/changeUserInst/' + row['cmsId'];
                                        return '<a href="'+link+'">Change Institute</a>';
                                    }
                                }
            },
            { "data": "username", "visible": false, targets: -1},
        ],
        "order": [[1, 'asc']],
        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },

    });

    $('button').click( function() {
        var data = table.$('input, select').serialize();
        // alert(
        //     "The following data would have been submitted to the server: \n\n"+
        //     data.substr( 0, 120 )+'...'
        //     );

        var jqxhr = $.ajax( {
                url: "{{ url_for("api.manageInstUsers") }}",
                method : "POST",
                data: {
                    "year" : {{ session['year'] }},
                    "data" : data,
                    'instCode' : "{{ code }}"
                },
              })
              .done(function(data, textStatus, jqXHR) {
                   table.ajax.reload();  // refresh table to reflect new status
              })
              .fail(function(data, textStatus, jqXHR) {
                  alert( "error updating user info ... "+data.status+' - '+data.msg );
              });

        return false;
    } );

    // add our buttons to the table and prepend them to the table:
    icmsEprButtons( { table: table, buttonDivName : 'tableButtons' } );
    table.draw();

    setupColSearch(table);

}); // end document.ready ...

</script>

{% endblock %}
