{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block styles %}
{{ super() }}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">

{% endblock %}

{% block title %}iCMS - EPR Map Shifts to Tasks in {{ year }} {% endblock %}

{% block page_content %}

<div id="status" name="status" class="alert-info" hidden></div>

<div class="page-header">
    <h1>iCMS - EPR Map Shifts to Tasks in {{ year }} </h1>
</div>

    <p>
        <b>Note:</b> only shift-type/shift-flavour combinations will be shown for which there is already
        at least one shift existing in the online DB. So if you do not see a specifc one, just create a
        shift for yourself of that type (e.g. for Dec 31, 2017), then, once the synchronisation was done
        (at NN:22 every hour), the shift-type/-flavour should show up here.
    </p>

<div name="tableButtons" id="tableButtons"></div>

<div class="brick huge padded">
    <table id="taskTable" class="display compact cell-border" cellspacing="0" width="90%">
        <thead>
            <tr>
                <th>Project</th>
                <th>Task shift type</th>
                <th>Task</th>
                <th width="50%">Shift Mapping</th>
                <th> Add mapping </th>
            </tr>
        </thead>

        <tbody>
        </tbody>

        <tfoot>
            <tr>
                <th>Project</th>
                <th>Task shift type</th>
                <th>Task</th>
                <th width="50%">Shift Mapping</th>
                <th> Add mapping </th>
            </tr>
        </tfoot>
    </table>
</div>

<div id="dialog-message" title="Select Shift for task" hidden>

    <form role="form" id="shift-selector" name="shift-selector" class="search-form" method="post">

        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">

        <div class="form-group">
            <label for="subSystem">SubSystem</label>
            <select id="subSystem" name="subSystem">
            </select>
        </div>

        <div class="form-group">
            <label for="sType">ShiftType</label>
            <select id="sType" name="sType"></select>
        </div>

        <div class="form-group">
            <label for="flavName">FlavourName</label>
            <select id="flavName" name="flavName">
                <option name="main" selected>main</option>
                <option name="main2nd">main 2nd</option>
                <option name="trainee">trainee</option>
            </select>
            <input hidden name="taskCode" id="taskCode" value="N/A" />
        </div>

{#        <input type="submit" class="btn btn-info" value="Select Shift" id="selectButton" name="selectButton" disabled>#}

    </form>
</div>



{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}


<script language="JavaScript">
function loadlist(selobj,url,reqData,subSys)
{
    $(selobj).empty().show();
    $(selobj).html("<option>Please select ... </option>");
    // console.log("reqData:");console.log(reqData);
    $.ajax({
        type: "POST",
        url: url,
        data: reqData,
        success: function(data)  {
            // console.log(data.data[subSys]);
            if (data['result'] != "OK") {
                alert(data['msg']);
            }
            $.each(data.data[subSys].sort(), function(i,obj)  {
                $(selobj).append($('<option>')
                                    .val( obj )
                                    .html( obj ));
            });
        }
    });
}

function showDialog(stm, task, tableT) {
    // console.log(stm);
    $("#dialog-message").dialog({
        modal: true,
        show: 'blind',
        hide: 'blind',
        width: 600,
        dialogClass: 'ui-dialog-osx',
        buttons:
            { "Set shift": function () {
                    // console.log("shift map updated - ");
                    changeSTM( { stm: stm, task: task,
                                 subSystem:$("#subSystem").val(),
                                 sType : $("#sType").val(),
                                 flavName : $("#flavName").val(),
                                 table : tableT
                    } )
                    // notify the user something has changed ...
                    $( "#status" ).html("<h3>Shift for task successfully updated.</he>")
                                  .fadeIn(  250, function() { } )
                                  .delay(3000)
                                  .fadeOut( 250, function() { } );
                    $(this).dialog("close");
                }
            },
    });
}
function changeSTM(data) {
        // create the new mapping:
        var url = $SCRIPT_ROOT + "/api/v1.0/shiftTaskMap";
        // console.log("creating new entry for task code " + data.task.code + " with subSys " + data.subSystem + ' and flavType ' + data.flavType );
        // console.log("url: " + url);
        var table = data.table;
        $.ajax({
            type: "POST",
            data: { 'taskCode': data.task.code,
                    'year' : {{ session["year"] }},
                    'subSystem' : data.subSystem,
                    'shiftType' : data.sType,
                    'flavourName' : data.flavName
                  },
            url: url,
            success: function(data)  {
                // console.log(data);
                if (data.result != "OK") {
                    alert(data.msg);
                } else {
                    table.ajax.reload();
                    // console.log("successfully created new entry");
                }
            }
        });


}
</script>

<script language="JavaScript">
$(document).ready(function() {

    $('#flavName').css('display', 'none');

    $('#subSystem').change( function() {
        var url = '{{ url_for("api.getShiftTypes") }}';
        var reqData = { 'year': '{{ year }}', 'subSystem' : JSON.stringify( $(this).val() ) };
        loadlist( $('select#sType').get(0),           /* the 'select' object */
              url, /* the url of the server-side script */
              reqData,
              $(this).val()
            );
    });

   $('#sType').change( function() {
        $('#flavName').show()
   });

   $('#flavName').change( function() {
       var tCode = $(this).val();
       $("#selectButton").prop( "disabled", false );
   });

    var tableT = $("#taskTable").DataTable({
        "language": {
          "emptyTable": "Loading data ..."
        },
        "deferRender": true,
        stateSave: true,
        // "fixedHeader" : true,
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        // see: https://datatables.net/examples/basic_init/dom.html
        "dom": icmsEprDOM(),
        "ajax": { url: "{{ url_for('api.getShiftTaskMap') }}", "dataSrc": "data", },
        "columnDefs": [
            { "targets": 0, "data": "pName" },
            { "targets": 1, "data": "task.shiftTypeId" },
            { "targets": 2, "data": "task.name" },
            { "targets": 3, "data": "shiftMapInfo",
                "render": function (data, type, row) {
                            var shiftMap = data;
                            return shiftMap;
                        }
            },
            { "targets": 4, "data": "manageButton" },
        ]
    });

    // column-wise search
    $('#taskTable tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

    setupColSearch(tableT);

    $('#taskTable tbody').on( 'click', 'button', function () {
        var data = tableT.row( $(this).parents('tr') ).data();

        // populate the list of subsystems in the dialog
        $.ajax({
            type: "GET",
//-ap            url: '{{ url_for("api.getShiftGridSubSystems") }}',
            url: '{{ url_for("api.getShiftSubSystems") }}',
            success: function(data)  {
                console.log("in dialog ...");
                console.log(data.data);
                if (data['result'] != "OK") {
                    alert(data['msg']);
                }
                $("select#subSystem").html($('<option>')
                                        .val( 'Please select ... ' )
                                        .html( 'Please select ... ' ) )
                $.each(data['data'].sort(), function(i,obj)  {
                    // console.log(obj);
                    $("select#subSystem").append($('<option>')
                                        .val( obj )
                                        .html( obj ) );
                });
            }
        });

        showDialog(data.stm, data.task, tableT);
    } );

}); // end document.ready ...

</script>

{% endblock %}
