{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block styles %}
{{ super() }}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css"
      xmlns="http://www.w3.org/1999/html">

{% endblock %}

{% block title %}iCMS - EPR Set Weight-scales for Shifts in {{ year }} {% endblock %}

{% block page_content %}

<div id="status" name="status" class="alert-info" hidden></div>

<div class="page-header">
    <h1> iCMS - EPR Set Weight-scales for Shifts in {{ year }} </h1>
</div>

    <p>
        <b>Note:</b> only shift-type/shift-flavour combinations will be shown for which there is already
        at least one shift existing in the online DB. So if you do not see a specifc one, just create a
        shift for yourself of that type (e.g. for Dec 31, 2017), then, once the synchronisation was done
        (at NN:22 every hour), the shift-type/-flavour should show up here.
    </p>

<div name="tableButtons" id="tableButtons"></div>

<div class="brick padded">
    <table id="shiftTable" class="display compact cell-border">
        <thead>
            <tr>
                <th>SubSystem</th>
                <th>Shift Type</th>
                <th>Flavour</th>
                <th>Weight Scale</th>
                <th>Added Value Credits</th>
                <th hidden> id  </th>
            </tr>
        </thead>

        <tbody>
        </tbody>

        <tfoot>
            <tr>
                <th>SubSystem</th>
                <th>Shift Type</th>
                <th>Flavour</th>
                <th>Weight Scale</th>
                <th>Added Value Credits</th>
                <th hidden> id  </th>
            </tr>
        </tfoot>
    </table>
</div>

<div id="dialog-message-ws" title="Change WeightScale for shift" hidden>

    <form role="form" id="weight-scale" name="weight-scale" class="search-form" method="post">

        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">

        <div class="form-group">
            <label for="newScale">Weight Scale</label>
            <input id="newScale" name="newScale" />
        </div>

        <input id="id" name="id"  value="N/A" hidden/>

{#        <input type="submit" class="btn btn-info" value="Select Shift" id="selectButton" name="selectButton" disabled>#}

    </form>
</div>

<div id="dialog-message-avc" title="Change Added Value Credit for shift" hidden>

    <form role="form" id="added-value-cred" name="added-value-cred" class="search-form" method="post">

        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">

        <div class="form-group">
            <label for="newAVC">Added Value Credit</label>
            <input id="newAVC" name="newAVC" />
        </div>

        <input id="id" name="id"  value="N/A" hidden/>

{#        <input type="submit" class="btn btn-info" value="Select Shift" id="selectButton" name="selectButton" disabled>#}

    </form>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script language="JavaScript">

function showDialogWS(data, tableT, item) {
    console.log(data);
    $("#dialog-message-ws").dialog({
        modal: true,
        show: 'blind',
        hide: 'blind',
        width: 600,
        dialogClass: 'ui-dialog-osx',
        buttons:
            { "Set weight scale factor": function () {
                    // alert(data[5]+' : '+data[3]);
                    $("#weight-scale #id").val(data[5]);
                    // $("#weight-scale #newScale").val(data[3]);
                    updateWeightScale( { newScale: data[3],
                                         id: data[5],
                                         table : tableT
                    } );
                    // notify the user something has changed ...
                    $( "#status" ).html("<h3>Weight scale for Shift successfully updated.</he>")
                                  .fadeIn(  250, function() { } )
                                  .delay(3000)
                                  .fadeOut( 250, function() { } );
                    $(this).dialog("close");
                }
            },
    });
}

function updateWeightScale(data) {
    // create the new mapping:
    var id = $("#weight-scale #id").val();
    var val = $("#weight-scale #newScale").val();

    var url = $SCRIPT_ROOT + "/api/v1.0/shiftWeightScale";
    // console.log("updating weight for id "+data.id+" to ", val);
    // console.log("url: " + url) ;
    var table = data.table;
    $.ajax({
        type: "POST",
        data: {
            'id': id,
            'year': {{ session["year"] }},
            'newScale': val
        },
        url: url,
        success: function (data) {
            // console.log(data.result);
            if (data.result != "OK") {
                alert(data.result);
                alert(data.msg);
            }
            table.ajax.reload();
        }
    });
}

function showDialogAVC(data, tableT) {
    console.log(data);
    $("#dialog-message-avc").dialog({
        modal: true,
        show: 'blind',
        hide: 'blind',
        width: 600,
        dialogClass: 'ui-dialog-osx',
        buttons: {
            "Set added value credits": function () {
                $("#added-value-cred #id").val(data[5]);
                updateAVC({
                    newAVC: data[4],
                    id: data[5],
                    table: tableT
                });
                // notify the user something has changed ...
                $("#status").html("<h3>Added Value Credit for Shift successfully updated.</he>")
                    .fadeIn(250, function () {
                    })
                    .delay(3000)
                    .fadeOut(250, function () {
                    });
                $(this).dialog("close");
            }
        },
    });
}

function updateAVC(data) {
    // create the new mapping:
    var id = $("#added-value-cred #id").val();
    var val = $("#added-value-cred #newAVC").val();

    var url = $SCRIPT_ROOT + "/api/v1.0/shiftAVC";
    var table = data.table;
    $.ajax({
        url: url,
        type: "POST",
        data: {
            'id': id,
            'year': {{ session["year"] }},
            'newAVC': val
        },
        success: function (data) {
            // console.log(data.result);
            if (data.result != "OK") {
                alert(data.result);
                alert(data.msg);
            }
            table.ajax.reload();
        }
    });
}

</script>

<script language="JavaScript">
$(document).ready(function() {

    var tableT = $("#shiftTable").DataTable({
        "deferRender": true,
        stateSave: true,
        // "fixedHeader" : true,
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        // see: https://datatables.net/examples/basic_init/dom.html
        "dom": icmsEprDOM(),
        "ajax": { url: "{{ url_for('api.getShiftWeightScales') }}", 'dataSrc' : 'data' },
        "columnDefs": [
            { "targets": 3, "data": "data[3]",
                            "render": function (data, type, row) {
                            if ( row[6] ) {  // user is manager, show edit button
                                return row[3] + ' -- <button id="updateWeight" type="button" class="btn btn-success">Change</button>';
                            }
                            return row[3] + '';
                        }
            },
            { "targets": 4, "data": "data[4]",
                            "render": function (data, type, row) {
                            if ( row[6] ) {  // user is manager, show edit button
                                return  row[4] + ' -- <button id="updateAVC" type="button" class="btn btn-success">Change</button>';
                            }
                            return row[4] + '';
                        }
            },
            { targets : 5, "data": "data[5]", visible : false },
        ],

    });

    // column-wise search
    $('#shiftTable tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

    setupColSearch(tableT);

    $('#shiftTable tbody').on( 'click', 'button', function () {
        var data = tableT.row( $(this).parents('tr') ).data();
        console.log(data);

        var col = tableT.column( $(this).parents('td') )[0][0];
        console.log(col);

        if (col == 3) {
            var val = data[3];
            var reqData = {'id': data[5], 'newScale': val};
            console.log(reqData);
            $('#newScale').val(val);
            showDialogWS(data, tableT);
        } else if (col == 4) {
            var val = data[4];
            var reqData = {'id': data[5], 'newAVC': val};
            console.log(reqData);
            $('#newAVC').val(val);
            showDialogAVC(data, tableT);
        }

    } );

}); // end document.ready ...

</script>

{% endblock %}
