{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block title %}iCMS - EPR Manage Task {% endblock %}

{% block page_content %}

{% if not task %} task = {{ item }} {% endif %}

<div class="page-header">
    <div class="task-header">
        <h1> Project:
            <a href="{{ url_for('manage.project', code='%s' % task.activity.project.code) }}"> {{ task.activity.project.name }} </a>
            in {{ year }}
        </h1>

        <h1> Activity: <a href="{{ url_for('manage.activity', code='%s' % task.activity.code) }}">{{ task.activity.name }} </a> </h1>
    
        <h1 id="lvl3-hdr"> Level-3: {{ lvl3Name.name }} ({{ lvl3Name.id }}) </h1>

        <h1> Task: <a href="{{ url_for('main.showTask', code='%s' % task.code) }}">{{ task.name }} </a></h1>
        {% if task.status != 'ACTIVE' %}
            <h2 class="red">NOTE: this task is presently not active ({{ task.status }})</h2>
        {%  endif %}
    <p>
        {% macro taskName(name) -%}
        <input type="hidden" name="task" value="{{ name }}" />
        {%- endmacro %}

        <h2>Description: </h2> <h4> {{ task.description|safe }} <br/> </h4>

    </p>
    </div>

    <div class="brick padded col-md-6 form">
        {% if canManage %}
            {% if mgrForm %}
        <div class="task-edit" class="hidden">
                <h3>Edit task:</h3>
                <div class="col-md-12">

                    <form action="" method="post" name="editTask">
                        {{ mgrForm.hidden_tag() }}

                        <div class="brick padded col-md-4">
                            <div class="form-group  required"> {{ mgrForm.activities.label    }} <br /> {{ mgrForm.activities }} </div>
                            <div class="form-group  required"> {{ mgrForm.chgAct }} </div>
                        </div>
                        <div class="brick padded col-md-4">
                            <div class="form-group  required"> {{ mgrForm.level3.label    }} <br /> {{ mgrForm.level3 }} </div>
                            <div class="form-group  required"> {{ mgrForm.chgLvl3 }} </div>
                        </div>
                        <div class="brick padded col-md-4">
                            <div class="form-group  required"> {{ mgrForm.name.label        }} <br /> {{ mgrForm.name }} </div>
                            <div class="form-group  required"> {{ mgrForm.updateName }} </div>

                        </div>
                        <div class="brick padded col-md-9">
                            <div class="form-group  required"> {{ mgrForm.description.label }} <br /> {{ mgrForm.description }} </div>
                            <div class="form-group  required"> {{ mgrForm.update }} </div>
                        </div>
                        <div class="brick padded col-md-9">
                            <h3>Update Parameters for task:</h3>
                            {% if mgrForm.neededWork %}
                                <div class="form-group  required"> {{ mgrForm.neededWork.label  }} <br /> {{ mgrForm.neededWork }} </div>
                            {% endif %}
                            <div class="form-group  required"> {{ mgrForm.pctAtCERN.label   }} <br /> {{ mgrForm.pctAtCERN }} </div>
                            <div class="form-group  required"> {{ mgrForm.tType.label       }} <br /> {{ mgrForm.tType }} </div>
                            {% if mgrForm.shiftTypeId %}
                                <div class="form-group  required"> {{ mgrForm.shiftTypeId.label }} <br /> {{ mgrForm.shiftTypeId }} </div>
                            {% endif %}
                            {% if mgrForm.locked and year < 2019 %}
                                <div class="form-group  required"> {{ mgrForm.locked.label      }}        {{ mgrForm.locked }} </div>
                            {% endif %}
                            {% if mgrForm.kind and year < 2019 %}
                                <div class="form-group  required"> {{ mgrForm.kind.label        }} <br /> {{ mgrForm.kind }} </div>
                            {% endif %}
                            <div class="form-group  required"> {{ mgrForm.comment.label     }} <br /> {{ mgrForm.comment }} </div>
                            <span>
                                <input type="submit" name="subCan" value="Submit">
                                <input type="submit" name="subCan" value="Cancel">
                                <br />
                            </span>
                        </div>
                        <div class="brick padded col-md-9">
                            <div class="form-group  required"> {{ mgrForm.managers.label }} <br /> {{ mgrForm.managers }} </div>
                            <div class="form-group  required"> {{ mgrForm.remove }} </div>
                            <div class="form-group  required"> {{ mgrForm.addMgrs }} </div>
                            <div class="form-group  required"> {{ mgrForm.addMgtEgroup }} </div>
                        </div>
                        <div class="brick padded col-md-9">
                            <div class="form-group  required"> {{ mgrForm.observers.label }} <br /> {{ mgrForm.observers }} </div>
                            <div class="form-group  required"> {{ mgrForm.removeObs }} </div>
                            <div class="form-group  required"> {{ mgrForm.addObs }} </div>
                            <div class="form-group  required"> {{ mgrForm.addObsEgroup }} </div>
                        </div>
                        <div class="brick padded col-md-9">
                            <div class="form-group required">
                                {% if task.status != 'DELETED' %}
                                    {% if activePledges|length == 0 and task.neededWork == 0 %}
                                        <button id="deleteConfirm" class="confirm btn-danger" type="button">Delete Task</button>
                                    {% else %}
                                        <div class="col-md-9 text-danger large-font">
                                            <b>Note:</b> You can <b>delete</b> this task only once all of the following criteria are fulfilled: <br />
                                        - number of non-rejected <b>pledges</b> is zero (presently <b>{{ activePledges|length }}</b> ) <br />
                                        - and the <b>work needed</b> for this task is zero (presently <b>{{ task.neededWork }}</b> ) <br />
                                        </div>
                                        <br />
                                    {% endif %}
                                {% else %}
                                    <b>Note: This task is deleted. </b>
                                {% endif %}
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        {% endif %}  <!-- mgrForm -->
    {% endif %}      <!-- canManage -->

    {% if canManage %}
        <div class="brick padded">
        {% if task.status != 'DELETED' %}
            <p>
                {% if activePledges %}
                <h3> Pledges for task {{ task.name }}</h3>
                <ul>
                    <li> user - inst  : workTimePld | status | workDone | </li>
                {% for p, uName, iCode in activePledges %}
                    <li> <a href="{{ url_for('main.pledge', id='%d' % p.id) }}"> {{ uName }} - {{ iCode }}
                       {%  if current_user.is_administrator() %} ({{ p.userId}}-{{ p.instId }}) {% endif %}
                    </a>: {{ p.workTimePld }} | {{ p.status }} | {{ p.workDone or '0.' }} | </li>
                {% endfor %}
                </ul>
                {%  else %}
                    <h3> No pledges found for task {{ task.name }} </h3>
                {% endif %}
            </p>

            <div class="form-group required">
            {% if activePledges %}
                <div >If you want to delete this task, all of the above pledges associated with it have to be deleted first. <br />
                </div>
{#            {% else %}#}
{#                <button id="deleteConfirm" class="confirm btn-danger" type="button">Delete Task</button>#}
            {% endif %}
            <br />
            </div>
        {% endif %}
        </div>
    {% endif %}

    </div>
</div>

{% endblock %}

<p>
    {{ groups }}
</p>

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}

<script language="JavaScript">
$(document).ready( function() {

    $( "#level3" ).autocomplete( {
            autoFocus: true,
            minLength: 3,
            source: '{{ url_for("api.searchLvl3Names", method="GET") }}',
            select: function( event, ui ) {
                        $( "#level3" ).html( ui.item.val );
                        $( "#level3" ).autocomplete("close");
                    }
    } );
    // clear the search field and set the focus to it:
    // $('#level3').val('');

    {
        $("div.form-group").find("label").addClass("control-label");
        $("div.form-group").find("textarea").addClass("form-control");
        $("div.form-group").find("select").addClass("form-control");
        $("div.form-group").find("input").addClass("form-control");

        $("#patCode").css('padding', '20p').hide();
    }

    $("#deleteConfirm").confirm({
        text: "Really OK to delete task '{{ task.name }}' ?",
        confirm: function(button) {
                // alert("You just confirmed.");
                var jqxhr = $.ajax( {
                    url: '{{ url_for("api.deleteTask") }}',
                    method : 'POST',
                    data: {
                        "year" : '{{ session['year'] }}',
                        "taskCode" : "{{ task.code }}",
                        "target" : "{{ target }}",
                        },
                    })
                    .done( function(data, textStatus, jqXHR) {
    {#                    alert( textStatus );#}
                    })
                    .always( function( jqxhr, textStatus ) {
    {#                    alert( textStatus );#}
                        document.location.reload();
                    })
                    .fail( function(data, textStatus, jqXHR) {
                        console.log(data);
                        alert( textStatus );
                        document.location.reload();
                    });
        },
        cancel: function(button) {
            alert("Task NOT deleted.");
        },
        confirmButton: "Yes, delete",
        cancelButton: "Nope, abort abort!",
        confirmButtonClass: "btn-danger",
        cancelButtonClass: "btn-info",
    });
});

</script>

{% endblock %}
