{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.css') }}">

{% endblock %}

{% block title %}iCMS - Check{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Request Info</h1>
</div>

<div>
    User from request: {{ adfsUser}}
</div>

<div class="col-md-12">

    <form action="" method="post" name="showUserInfo">
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
         <div class="ui-widget">
             <label for="userSel">Select User: </label>
             <input id="userSel" name="userSel" />
         </div>
         <input type="submit" value="Submit">
    </form>
</div>

<div class="col-md-12">
    <p>
        <br />
        <div> <b>Result:</b>     <span id="userId">N/A</span> </div>
        <br />
        <div> <b>User:</b>       <span id="userName">N/A</span> </div>
        <div> <b>Institute:</b>  <span id="instId">N/A</span> </div>
        <br />
        <h5>Manager of:</h5>
        <div> <b>Projects:</b>    <span id="pmList"> </span> </div>
        <div> <b>Activities:</b>  <span id="amList"> </span> </div>
        <div> <b>Tasks:</b>       <span id="tmList"> </span> </div>
        <div> <b>Institute:</b>   <span id="imList"> </span> </div>
        <br />
        <div id="userData" name="userData"> <b>User Data :</b>
            <ul></ul>
        </div>
        <br />
        <div id="userTimeLine" name="userTimeLine"> <b>User TimeLine :</b>
            <ul></ul>
        </div>
    </p>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.js') }}"></script>

<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='icmsepr.js') }}"></script>

<script language="JavaScript">

$(document).ready(function() {

    $( "#userSel" ).autocomplete( {
         autoFocus: true,
         minLength: 3,
         source: '{{ url_for("api.searchUsers", method="GET") }}',
         select: function( event, ui ) {
                    $("#userId").html( ui.item.value );
                    updateInstProj(ui.item.value);
                    $( "#userSel" ).autocomplete("close");
                  }
    } );

    // clear the search field and set the focus to it:
    $('#userSel').val('');
    $('#userSel').focus();

});

</script>


{% endblock %}

