{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}iCMS - EPR Overview {% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Projects</h1>
</div>
<div>
{% include '_projects.html' %}
</div>

<div class="page-header">
    <h1>Activities</h1>
</div>
<div>
{% include '_activities.html' %}
</div>

<div class="page-header">
    <h1>Tasks</h1>
</div>
<div>
{% include '_tasks.html' %}
</div>

<div class="page-header">
    <h1>Pledges</h1>
</div>
<div>
{% include '_pledges.html' %}
</div>

{% endblock %}

<p>
    {{ groups }}
</p>

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
