
<table id="instRespPledges" class="dataTable" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th colspan="4"></th>
            <th colspan="7">Task</th>
            <th colspan="11">Pledge</th>
        </tr>
        <tr>
            <th></th>   <!-- col 1 for checkboxes -->
            <th>Project/LV1</th>
            <th>Activity/LV2</th>
            <th>LV3</th>
            <th class="left-border">Task Name</th> <!-- col 5 -->
            <th>Needed Work</th>
            <th>Fraction Done</th>
            <th>% of work at CERN</th>
            <th>Type of task</th>
            <th>Comment</th>
            <th>edit Task</th>
            <th class="left-border" hidden>User</th>   <!-- col 12 -->
            <th>Institute for Pledge</th>
            <th>Work Pledged</th>
            <th>Work Accepted</th>
            <th>Work Done</th>
            <th>Done/ Pledged</th>
            <th>Status</th>                     <!-- col 18 -->
            <th>edit/update Pledge</th>
            <th>reject Pledge</th>
            <th>PlegdeCode</th>           <!-- contains taskId, userId and instId -->
            <th>FullTaskName</th>           <!-- contains taskId, userId and instId -->
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <th></th>   <!-- col 1 for checkboxes -->
            <th>Project/LV1</th>
            <th>Activity/LV2</th>
            <th>LV3</th>
            <th class="left-border">Task Name</th> <!-- col 5 -->
            <th>Needed Work</th>
            <th>Fraction Done</th>
            <th>% of work at CERN</th>
            <th>Type of task</th>
            <th>Comment</th>
            <th>edit Task</th>
            <th class="left-border" hidden>User</th>   <!--  col 12 -->
            <th>Institute for Pledge</th>
            <th>Work Pledged</th>
            <th>Work Accepted</th>
            <th>Work Done</th>
            <th>Done/ Pledged</th>
            <th>Status</th>                     <!-- col 18 -->
            <th>edit/update Pledge</th>
            <th>reject Pledge</th>
            <th>PlegdeCode</th>           <!-- contains taskId, userId and instId -->
            <th>FullTaskName</th>           <!-- contains taskId, userId and instId -->
        </tr>
        <tr>
            <td></td>   <!-- col 1 for checkboxes -->
            <td>Project/LV1</td>
            <td>Activity/LV2</td>
            <td>LV3</td>
            <td class="left-border">Task Name</td> <!-- col 5 -->
            <td>Needed Work</td>
            <td>Fraction Done</td>
            <td>% of work at CERN</td>
            <td>Type of task</td>
            <td>Comment</td>
            <td>edit Task</td>
            <td class="left-border" hidden>User</td>   <!-- col 12 -->
            <td>Institute for Pledge</td>
            <td>Work Pledged</td>
            <td>Work Accepted</td>
            <td>Work Done</td>
            <td>Done/ Pledged</td>
            <td>Status</td>                     <!-- col 18 -->
            <td>edit/update Pledge</td>
            <td>reject Pledge</td>
            <td>PlegdeCode</td>           <!-- contains taskId, userId and instId -->
            <td>FullTaskName</td>           <!-- contains taskId, userId and instId -->
        </tr>
    </tfoot>
</table>
