{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block title %}
    iCMS - EPR New Task
                   for activity {{ activity.name }}
                   of project {{ activity.project.name }}
                   in {{ activity.year }}
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <div class="profile-header">
            <h1>Creating New Task
                for activity {{ activity.name }}
                of project {{ activity.project.name }}
                in {{  activity.year }}
            </h1>
        </div>
    </div>

    <div class="brick padded col-md-6 form">
        <div class="task-edit" class="hidden">
            <form action="" method="post" name="newTask" class="col-md-6">
                {{ form.hidden_tag() }}

                <p> {{ form.name.label }} <br/> {{ form.name }} </p>
                <p> {{ form.description.label }} <br/> {{ form.description }} </p>

                <p> {{ form.level3.label }}  from the list below. <br/> {{ form.level3 }} If you need to create a new one, please contact <a href="mailto:icms-support@cern.ch">icms-support@cern.ch</a> </p>

                <p> {{ form.neededWork.label }}<br/> {{ form.neededWork }} <br/> </p>

                <p> {{ form.pctAtCERN.label }} <br/> {{ form.pctAtCERN }} </p>

                <p> {{ form.comment.label }} <br/> {{ form.comment }} </p>

                <p> {{ form.tType.label }} <br/> {{ form.tType }} </p>

                <p> {{ form.shiftTypeId.label }} <br/> {{ form.shiftTypeId }} </p>

                <!-- <p> {{ form.locked.label }} <br/> {{ form.locked }} </p> -->
                <!-- <p> {{ form.kind.label }} <br/> {{ form.kind }} </p> -->

              <p><input type="submit" value="Submit"></p>
            </form>
        </div>
    </div>

    <div id="log">

    </div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}


<script language="JavaScript">

$(document).ready(function() {

    $( "#level3" ).autocomplete( {
         autoFocus: true,
         minLength: 3,
         source: '{{ url_for("api.searchLvl3Names", method="GET") }}',
         select: function( event, ui ) {
                    $( "#level3" ).html( ui.item.val );
                    $( "#level3" ).autocomplete("close");
                  }
    } );

    // clear the search field and set the focus to it:
    // $('#level3').val('');

});
</script>

{% endblock %}
