{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}iCMS - EPR Project {{ project.name }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <div class="brick padded project-header">
        <h1>Project {{ project.name }}</h1>
        <p>
            Description: {{ project.description|safe }} <br />
            Manager:  {{ managers }} <br />

        {% if project.tasks %}
            Tasks: <br />
            {{ project.tasks.count() }} tasks:
        {% endif %}
        </p>
        <div class="project-footer">
            {% if current_user.is_administrator() %}
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
            {% endif %}
        </div>

    </div>
</div>

{% if project.tasks %}
<h3>Tasks for project {{ project.name }}</h3>
{% include '_tasks.html' %}
{% endif %}

{% endblock %}
