{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}iCMS - EPR Reject Pledge {{ pledge.id }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <div class="brick padded pledge-header">
        <h1> Reject pledge id {{ pledge.id }}</h1>
        <p>
            User: {{ plUser.name }} from {{ inst.name }} <br />
            Task: {{ task.name }} <br />
            Needed work: {{ task.neededWork}} (months) <br />
            Pledged work: {{ pledge.workTimePld }} (months) <br />
        </p>
        <div class="pledge-footer">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>

    </div>
</div>

{% endblock %}
