{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}

{% endblock %}

{% block title %}iCMS - EPR Select Task {% endblock %}

{% block page_content %}
<div class="page-header">
    <div class="profile-header">
        <h1>iCMS - EPR Select Task ({{ year }})</h1>
    </div>
</div>

{% if user and inst %}
<div id="userInfo" name="userInfo">
    User: <span> {{ user.name }} </span> <br/>
</div>
<div id="instInfo" name="instInfo">
    Institute: <span> {{ inst.code }} </span> <br/>
</div>
{% endif %}

<div class="brick padded col-md-6">
    <form role="form" id="task-selector" name="task-selector" class="search-form" action="{{ url_for('main.newPledgePost') }}" method="post">

        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">

        <div class="form-group">
            <label for="projects">Project/LV1</label>
            <select id="projects">
                <option value="0">Please select project ...</option>
                {% for p in navInfo.proj %}
                <option value="{{ p.code }}"> {{ p.name }} </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="activities">Activity/LV2</label>
            <select id="activities" name="activities"></select>
        </div>

        <div class="form-group">
            <label for="level-3">LV3</label>
            <select id="level-3" name="level-3"></select>
        </div>

        <div class="form-group">
            <label for="tasks">Task</label>
            <select id="tasks" name="tasks"></select>
{#            <input hidden name="cmsId" id="cmsId" value="{{ user.cmsId }}" />#}
            <input hidden name="cmsId" id="cmsId" value="{{ user.cmsId }}" />
        </div>

        <input type="submit" class="btn btn-info" value="Select Task" id="selectButton" name="selectButton" disabled>

    </form>

</div>

<div id="log"></div>

<div id="hiddenform"></div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script language="JavaScript">

function loadlist(selobj,url,codeattr,nameattr,aCode)
{
    $(selobj).empty().show();
    $(selobj).html("<option>Please select ... </option>");
    $.ajax({ dataType: "json",
            url: url,
            data: { 'aCode' : aCode, 'year' : {{year}} },
            success: function(data)  {
                console.log("loadList> Got data: ", data);
                $.each(data.data, function(i,obj)  {
                    $(selobj).append($('<option>')
                                        .val(obj[codeattr])
                                        .html(obj[nameattr]));
                });
            },
            error: function () {
                alert("ERROR from ajax ... ");
            }
    })
}

$(document).ready(function() {

    $('select#projects').val(0);
    $('#activities').css('display', 'none');
    $('#level-3').css('display', 'none');
    $('#tasks').css('display', 'none');

    var actCode = '';

    $('#projects').change( function() {
        var url = '{{ url_for("api.projActivities", code="" ) }}'+$(this).val();
        console.log("getting acts via: " + url);
        loadlist( $('select#activities').get(0),           /* the 'select' object */
              url, /* the url of the server-side script */
             'code', 'name',                              /* The name of the field in the returned list */
             actCode
        );
    });

   $('#activities').change( function() {
       actCode = $(this).val();
       var url = '{{ url_for("api.actLvl3", code="" ) }}'+$(this).val();
       console.log("getting lvl3s via: " + url);
       loadlist($('select#level-3').get(0),          /* the 'select' object */
             url , /* the url of the server-side script */
             'code', 'name',                              /* The name of the field in the returned list */
             actCode
            );
   });

   $('#level-3').change( function() {
        var url = '{{ url_for("api.actTasks", lvl3="" ) }}'+$(this).val().replace(/\//g, "_slash_");
        console.log("getting tasks via: " + url);
        loadlist($('select#tasks').get(0),          /* the 'select' object */
             url , /* the url of the server-side script */
             'code', 'name',                              /* The name of the field in the returned list */
             actCode
            );
   });

   $('#tasks').change( function() {
       var tCode = $(this).val();
       $("#selectButton").prop( "disabled", false );
   });

});
</script>

{% endblock %}
