{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}

{% endblock %}

{% block title %}iCMS - EPR Select Activity {% endblock %}

{% block page_content %}
<div class="page-header">
    <div class="profile-header">
        <h1>iCMS - EPR Select Activity ({{ year }})</h1>
    </div>
</div>

{% if user and inst %}
<div id="userInfo" name="userInfo">
    User: <span> {{ user.name }} </span> <br/>
</div>
<div id="instInfo" name="instInfo">
    Institute: <span> {{ inst.code }} </span> <br/>
</div>
{% endif %}

<div class="col-md-6">

    <form role="form" id="act-selector" name="act-selector" class="search-form" action="{{ url_for('main.makeNewTask') }}">

        <div class="form-group">
            <label for="projects">Project/LV1</label>
            <select id="projects">
                <option value="0">Please select project ...</option>
                {% for p in navInfo.proj %}
                <option value="{{ p.code }}"> {{ p.name }} </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="activities">Activity/LV2</label>
            <select id="activities" name="activities"></select>
        </div>

        <input type="submit" class="btn btn-info" value="Select Activity" id="selectButton" >

    </form>

</div>

<div id="log"></div>

<div id="hiddenform"></div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script language="JavaScript">

function loadlist(selobj,url,codeattr,nameattr)
{
    $(selobj).empty().show();
    $(selobj).html("<option>Please select ... </option>");
    $.getJSON(url,{},function(data)  {
        console.log(data);
        $.each(data.data, function(i,obj)  {
            $(selobj).append($('<option>')
                                .val(obj[codeattr])
                                .html(obj[nameattr]));
        });
    });
}

$(document).ready(function() {

    $('select#projects').val(0);
    $('#activities').css('display', 'none');

    $('#projects').change( function() {
        var url = '{{ url_for("api.projActivities", code="" ) }}'+$(this).val();
        loadlist( $('select#activities').get(0),           /* the 'select' object */
              url, /* the url of the server-side script */
             'code', 'name'                              /* The name of the field in the returned list */
            );
    });

   $('#activities').change( function() {
       var aCode = $(this).val();
       $("act-selector").attr( "action", "{{ url_for('main.newTask', actCode=aCode) }}" );
   });

});
</script>

{% endblock %}
