{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block title %}

    iCMS - EPR Shifts in {{ year }}
{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>    iCMS - EPR Shifts in {{ year }}
    </h1>
</div>

<div id="events"></div>

<div id="info-help" hidden>
    <p>
    </p>
        Clicking on the headers of the columns sorts them, a second click on the header reverses the sorting order.
    </p>
    <p>
        At the bottom of the table you find fields to search in individual columns. Independent searches will be combined with "AND".
    </p>
</div>
<button id="showHideHelp" type='button'>Show Help</button>

<div>
    <h3>Note:</h3>
    <p>
        The "Accumulated Time Done" (and "Number of Shifts Done") columns refer to the shifts which are already done, while the "Pledged" columns refer to shifts in the future, which are booked, but not yet taken (and can therefore be deleted or cancelled). Also note that not all shifts in the future are already booked, so that number may still change.
    </p>
</div>

<div name="tableButtons" id="tableButtons"></div>
<div class="brick huge padded">
<table id="shiftTable" class="dataTable" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>Subsystem</th>
            <th>Type</th>
            <th>Flavour</th>
            <th width="60px">Shifter</th>
            <th width="60px">Institute</th>
            <th>Sum of CSP</th>
            <th>Number of Shifts Done</th>
            <th>Accumulated Time Done (days)</th>
            <th>SumCSP/AccTime</th>
            <th>CSP Pledged</th>
            <th>Number of Shifts Pledged</th>
            <th>Accumulated Time Pledged (days)</th>
       </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            <th>Subsystem</th>
            <th>Type</th>
            <th>Flavour</th>
            <th width="60px">Shifter</th>
            <th width="60px">Institute</th>
            <th>Sum of CSP</th>
            <th>Number of Shifts Done</th>
            <th>Accumulated Time Done (days)</th>
            <th>SumCSP/AccTime</th>
            <th>CSP Pledged</th>
            <th>Number of Shifts Pledged</th>
            <th>Accumulated Time Pledged (days)</th>
        </tr>
        <tr>
            <td></td>
            <td>Subsystem</td>
            <td>Type</td>
            <td>Flavour</td>
            <td width="60px">Shifter</td>
            <td width="60px">Institute</td>
            <td>Sum of CSP</td>
            <td>Number of Shifts Done</td>
            <td>Accumulated Time Done (days)</td>
            <td>SumCSP/AccTime</td>
            <td>CSP Pledged</td>
            <td>Number of Shifts Pledged</td>
            <td>Accumulated Time Pledged (days)</td>
       </tr>
    </tfoot>
</table>
</div>

{% endblock %}

{% block scripts %}

{{ super() }}
{{ pagedown.include_pagedown() }}


<script language="JavaScript">
$(document).ready(function() {

    setupHelpButton();

    // column-wise search
    $('#shiftTable tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

    var start;
    var events = $("#events");
    var table = $("#shiftTable").DataTable({
        "deferRender": true,
        stateSave: true,
        // "fixedHeader" : true,
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        // see: https://datatables.net/examples/basic_init/dom.html
        "dom": icmsEprDOM(),

       "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
                if (data.length > 0) {

                    // Remove the formatting to get integer data for summation
                    var intVal = function ( i ) {
                        return typeof i === 'string' ? i.replace(/[\$,]/g, '')*1 : typeof i === 'number' ?  i : 0;
                    };

                    var i = -1;
                    var numCols = [6,7,8,10,11,12];
                    $( "#shiftTable tfoot tr" ).children("td").each( function() {
                        i++;
                        if ( numCols.indexOf(i) != -1 ) {
                            // totals over all pages
                            totals = api.column( i ).data().reduce( function (a, b) {
                                return intVal(a) + intVal(b);
                            },0 );

                            // totals_page over this page
                            totals_page = api.column( i, { page: 'current'} ).data().reduce( function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0 );

                            totals_page = parseFloat(totals_page);
                            totals      = parseFloat(totals);
                            // Update footer
                            $(this).html( '<b>'+totals_page.toFixed(2)+"<hr />"+totals.toFixed(2)+'</b>' );
                        } else if (i==4) {
                            $(this).html('<b>Sum this page <hr /> Sum all pages</b>');
                        } else {
                            $(this).text('');
                        }
                    });
                }
            },

        "ajax": {
            url : '{{ url_for("api.shiftInfo", subSys="all") }}',
            type:"POST",
            data: { "year" : {{ year }} },
            "dataSrc": "shifts",
            beforeSend: function() {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading info ... ');
            },
            complete: function() {
                var stop = new Date().getTime();
                $("#loading-time").html('Loading took '+ (stop-start).toFixed(0) +' msec.');
            },
        },
        "columnDefs": [
            // add a first column with checkboxes
            {
               orderable: false,
               className: 'select-checkbox',
               "data" : "check",
               targets : 0,
            },
            { "data": "subSystem" , targets:1 },
            { "data": "shiftType" , targets:2 },
            { "data": "flavour"   , targets:3 },
            { "data": "shifter"   , targets:4 },
            { "data": "institute" , targets:5 },
            { "data": "sumWeights"  , targets:6,
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "nShiftsDone" , targets:7,
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "shiftTimeDone", targets:8,
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "sumWeights"   , targets:9,  // ratio of sumWeights/accumulatedTime
                  "render": function ( data, type, row ) {
                                        var accTime = parseFloat(row["shiftTimeDone"]);
                                        var val = 0.;
                                        if (accTime != 0.) { val = data/(accTime); };
                                        return ' ' + val.toFixed(2);
                                    }
            },
            { "data": "sumWeightsPld"  , targets:10,
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "nShiftsPld"   , targets:11,
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "shiftTimePld" , targets:12,
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
        ],
        "order": [[1, 'asc'],[2, 'asc']],
        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
            rows: { _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                  }
        },
    });

    // add our buttons to the table and prepend them to the table:
    icmsEprButtons( { table: table, buttonDivName : 'tableButtons' } );
    table.draw();

    setupColSearch(table);

});
</script>

{% endblock %}
