{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block styles %}
{{ super() }}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">

{% endblock %}

{% block title %}iCMS - EPR Institute Overview in {{ year }} {% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>iCMS - EPR Institute Overview in {{ year }} </h1>
</div>

<div class="form">
    {% if form %}
        {{ wtf.quick_form(form) }}
    {% endif %}
</div>

<div>
    <p>
        <b>Note:</b> The EPR pledged values on this page are cached for performance reasons,
        the exact value is provided in the individual institutes view. The cache
        is updated every hour.
    </p>
    <p>
        The "# of Authors" reflect the possible changes of authorship flags during the year, hence the fractional numbers. "Applicant Due" is the work needed from the sum of the "newcomers". "Expected" is the sum of the "Applicant Due" and "# of Authors" times 3 months for 2016/2017, 4 months for 2018/2019.
    </p>
    <p>
        The "EPR accounted" column is the sum of the Work Done plus the shifts done, reflecting the overall EPR work done.
    </p>
    <p>
        The "EPR pledged" column is the sum of the Work Pledged plus the shifts registered, reflecting the overall EPR work pledged.
    </p>
</div>

<button id="showHideHelp" type='button'>Show Help</button>
<div id="info-help" hidden>
    <p>
        Clicking on the headers of the columns sorts them, a second click on the header reverses the sorting order.
    </p>
    <p>
        At the bottom of the table you find fields to search in individual columns. Independent searches will be combined with "AND".
    </p>
    <p>
        You can select individual rows by clicking on the checkbox in the first column. The selected rows can then be exported in various ways by clicking on the "Export selected..." button, and selecting the desired format in the pop-up menu from there.
    </p>
</div>

<div name="tableButtons" id="tableButtons"></div>

<div class="brick huge padded">
    <table id="instituteTable" class="dataTable" cellspacing="0" width="90%">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Country</th>
                <th># of Authors</th>
                <th>Applicant Due</th>
                <th>Expected</th>
                <th>Pledged</th>
                <th>Pledged/<br/>Expected</th>
                <th>Accepted</th>
                <th>WorkDone</th>
                <th>WorkDone/<br/>Expected</th>
                <th>Shifts<br />Pledged</th>
                <th>Shifts<br />Done</th>
                <th>ShiftsPld/<br />ShiftsExpected</th>
                <th>EPR Accounted</th>
                <th>EPR Accounted/<br/>Expected</th>
                <th>EPR Pledged</th>
                <th>EPR Pledged/<br/>Expected</th>
                <th>EPRPld+<br/>Shift(Pld)</th>
                <th>EPRPld+<br/>Shift(Pld)/<br/>Expected</th>
                <th>CMS Status</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Country</th>
                <th># of Authors</th>
                <th>Applicant Due</th>
                <th>Expected</th>
                <th>Pledged</th>
                <th>Pledged/Expected</th>
                <th>Accepted</th>
                <th>WorkDone</th>
                <th>WorkDone/Expected</th>
                <th>Shifts<br />Pledged</th>
                <th>Shifts<br />Done</th>
                <th>ShiftsPld/<br />ShiftsExpected</th>
                <th>EPR Accounted</th>
                <th>EPR Accounted/<br/>Expected</th>
                <th>EPR Pledged</th>
                <th>EPR Pledged/<br/>Expected</th>
                <th>EPRPld+<br/>Shift(Pld)</th>
                <th>EPRPld+<br/>Shift(Pld)/<br/>Expected</th>
                <th>CMS Status</th>
            </tr>
            <tr>
                <td></td>
                <td>Name</td>
                <td>Country</td>
                <td># of Authors</td>
                <td>Applicant Due</td>
                <td>Expected</td>
                <td>Pledged</td>
                <td>Pledged/Expected</td>
                <td>Accepted</td>
                <td>WorkDone</td>
                <td>WorkDone/Expected</td>
                <td>Shifts<br />Pledged</td>
                <td>Shifts<br />Done</td>
                <td>ShiftsPld/<br />ShiftsExpected</td>
                <td>EPR Accounted</td>
                <td>EPR Accounted/<br/>Expected</td>
                <td>EPR Pledged</td>
                <td>EPR Pledged/<br/>Expected</td>
                <td>EPRPld+<br/>Shift(Pld)</td>
                <td>EPRPld+<br/>Shift(Pld)/<br/>Expected</td>
                <th>CMS Status</th>
            </tr>
        </tfoot>
    </table>
</div>


{% endblock %}

<p>
    {{ groups }}
</p>

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}


<script language="JavaScript">
$(document).ready(function() {

    setupHelpButton();

    // column-wise search
    $('#instituteTable tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );


    var start;
    var table = $('#instituteTable').DataTable({
        // see: https://datatables.net/examples/basic_init/dom.html
        stateSave: true,
        "dom": icmsEprDOM(),
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],

        "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
                if (data.length > 0) {

                    // Remove the formatting to get integer data for summation
                    var intVal = function ( i ) {
                        return typeof i === 'string' ? i.replace(/[\$,]/g, '')*1 : typeof i === 'number' ?  i : 0;
                    };

                    var i = -1;
                    var numCols = [2,3,4,5,7,8,10,11,13,15, 17];
                    $( "#instituteTable tfoot tr" ).children("td").each( function() {
                        i++;
                        if (i == 1) {
                            $(this).html('<b>Sum this page <br /> Sum all pages</b>');
                        } else if ( numCols.indexOf(i) != -1 ) {
                            // totals over all pages
                            totals = api.column( i ).data().reduce( function (a, b) {
                                return intVal(a) + intVal(b);
                            },0 );

                            // totals_page over this page
                            totals_page = api.column( i, { page: 'current'} ).data().reduce( function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0 );

                            totals_page = parseFloat(totals_page);
                            totals      = parseFloat(totals);
                            // Update footer
                            $(this).html( '<b>'+totals_page.toFixed(2)+"<br />"+totals.toFixed(2)+'</b>' );
                        } else {
                            $(this).text('');
                        }
                    });
                }
            },

        "ajax": {
            "url": "{{ url_for("api.instituteOverview") }}",
            method : "POST",
            data: { "year" : {{ year }} },
            beforeSend: function() {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading info ... ');
            },
            complete: function() {
                var stop = new Date().getTime();
                // console.log(data);
                $("#loading-time").html('Loading took '+ (stop-start).toFixed(0) +' msec.');
            },
        }, 
        "order": [[1, 'asc']],
        "columnDefs": [
            // add a first column with checkboxes
            {
                orderable: false,
                className: 'select-checkbox',
                data: "check",
                targets : 0,
            },
            {   // borders for the following columns:
                className : 'left-border',
                targets : [13,15,17]
            },
            {
                // The `data` parameter refers to the data for the cell (defined by the
                // `data` option, which defaults to the column being worked with, in
                // this case `data: 0`.
                "render": function ( data, type, row ) {
                    var instCode = row.code;
                    var url = '{{ url_for("main.showInstitute") }}';
                    return '<a href="'+url+'/'+instCode+'"> '+data.toUpperCase()+' </a>';
                },
                "targets": 1
            },
            {
                "render": function ( data, type, row ) {
                    if (data === undefined) { return ' - '; }
                    if (data !== null) {
                        return ' ' + data.toFixed(2);
                    } else {
                        return ' - ';
                    }
                },
                "targets": [3,4,5,6,7,8,9,10,12,14,15,16,17 ]
            },
            { "data": "code"      , targets:1 },
            { "data": "country"   , targets:2 },
            { "data": "actAuthors", targets:3 },
            { "data": "sumEprDue" , targets:4 },
            { "data": "Expected"  , targets:5,
                "render": function ( data, type, row ) {
                    return ' '+(data+row["sumEprDue"]).toFixed(2);
                },
            },
            { "data": "Pledged"   , targets:6 },
            { "data": "PledgedFract" , targets:7 },
            { "data": "Accepted" , targets:8 },
            { "data": "Done"     , targets:9 },
            { "data": "DoneFract", targets:10 },
            { "data": "ShiftsPld"   , targets:11,
                      "render": function ( data, type, row ) {
                                    if ( {{ year }} < 2021) {
                                        return ' '+ (data + row.ShiftsDone).toFixed(2);
                                    } else {
                                        return ' '+ (data).toFixed(2);
                                    }
                                 }
            },
            { "data": "ShiftsDone"   , targets:12 },
            { "data": "name"   , targets:13,
                "render": function ( data, type, row ) {
                    var valStr = '0.0';
                    if (row['actAuthors']+row["sumEprDue"]>0) {
                        var sum = 0.;
                        if ( {{ year }} < 2021) {
                            sum = (row['ShiftsDone'] + row['ShiftsPld']);
                        } else {
                            sum = (0. + row['ShiftsPld']);
                        }
                        var expected = ( $CSP_PER_AUTHOR * row['actAuthors']);
                        var val = sum / expected;
                        valStr = val.toFixed(2);
                        // valStr = valStr + ' (sum:'+sum.toFixed(2)+'/'+expected.toFixed(2)+')';
                    }
                    return ' '+valStr;
                },
            },
            { "data": "EPRaccounted", targets:14 },
            { "data": "EPRaccFrac"  , targets:15 },
            { "data": "EPRpledged"  , targets:16 },
            { "data": "EPRpldFrac"  , targets:17 },
            
            { "data": "name"  , targets:18, "visible": false,
                "render": function ( data, type, row ) {
                    var valStr = '0.00';
                    var sum = 0.;
                    if ( {{ year }} < 2021) {
                        sum = (row['ShiftsDone'] + row['ShiftsPld'] + row['Pledged']);
                    } else {
                        sum = (row['ShiftsPld'] + row['Pledged']);
                    }
                    valStr = sum.toFixed(2);
                    return ' '+valStr;
                },
            },
            { "data": "name"  , targets:19, "visible": false,
                "render": function ( data, type, row ) {
                    var valStr = '0.00';
                    var expected = row['Expected'] + row["sumEprDue"];  //
                    // var expected = row['actAuthors'];
                    if (expected > 0) {
                        var sum = 0.;
                        if ( {{ year }} < 2021) {
                            sum = (row['ShiftsDone'] + row['ShiftsPld'] + row['Pledged']);
                        } else {
                            sum = (row['ShiftsPld'] + row['Pledged']);
                        }
                        var val = sum / expected;
                        valStr = val.toFixed(2);
                    }
                    if (expected === 0.0) {
                        valStr = '1.00';
                    }
                    return ' '+valStr;
                },
            },
            { 
                "data": "cmsStatus", targets: 20, "visible": false,
                "render": function ( data, type, row ) {
                    if ( row['cmsStatus'] === "Yes" ) { return "Full member"; }
                    return row['cmsStatus'];
                }
            }
        ],
        // add colour to the taks done related fields
        "createdRow": function ( row, data, index ) {
                if ( data["EPRaccFrac"] >= 0 ) {
                    // make sure the threshold list is the same as in showInstitute.html:
                    var instCode = row[1];
                    var col;
                    // console.log(data);
                    if (data['cmsStatus'] === 'Cooperating') {
                       col = 'coordinst';
                    } else if (data['cmsStatus'] === 'Associated')  {
                        col = 'associnst';
                    } else {
                        var col = getColour(data["EPRaccFrac"], thrList = [1.00, 0.89, -0.1]);
                    }
                    $('td', row).addClass(col);
                }
        },
        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },
    });

    // add our buttons to the table and prepend them to the table:
    icmsEprButtons( { table: table,
                      buttonDivName : 'tableButtons',
                      addOnButtons : [
                            {
                            text: "Send mail to CBI/CBDs <br/> of selected institutes",
                            action: function ( e, dt, node, config ) {
                                        sendMailInstLeaders( table, table.buttons.exportData( {
                                            modifier: { selected: true }
                                        } ) );
                                        dt.rows().deselect();
                                    } // end function
                            }, // end button "SendMail selected"
{#                            {#}
{#                            text: "Show selected mail addr for copying",#}
{#                            action: function ( e, dt, node, config ) {#}
{#                                        getMailAddrs( table, table.buttons.exportData( {#}
{#                                            modifier: { selected: true }#}
{#                                        } ) );#}
{#                                        dt.rows().deselect();#}
{#                                    } // end function#}
{#                            }, // end button "Copy selected mail addr to clipboard"#}
                      ]
    } );
    table.draw();

    setupColSearch(table);

}); // end document.ready ...

</script>

{% endblock %}
