{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block title %}
iCMS - EPR Pledge Overview
{% if metaInfo.user %} for {{ metaInfo.user.name }} {% endif %}
{% if metaInfo.taskCodes %} for tasks managed by {{ user.name }} {% endif %}
in {{ year }}
{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>
        {% if metaInfo.prefs %}
            iCMS - EPR Favourites for {{ user.name }}
        {%  elif  metaInfo.mgt %}
            iCMS - EPR Managed items for {{ user.name }}
        {% else %}
        iCMS - EPR Pledge Overview
        {% if metaInfo.user %} for {{ metaInfo.user.name }} {% endif %}
        {% if metaInfo.taskCodes %} for tasks managed by {{ user.name }} {% endif %}
        {% endif %}
        in {{ year }}
    </h1>
</div>

{% if metaInfo.user %}
    <h3>
        <a href="https://icms.cern.ch/tools/users/profile/{{ metaInfo.user.cmsId }}"> New Profile Page </a>
        --
        <a href="http://cms.cern.ch/iCMS/jsp/secr/stats/peopleDetailInfo1_1.jsp?CMSid={{ metaInfo.user.cmsId }}">(old) iCMS user info </a>
        --
        <a href="{{ url_for("main.showInstitute", code=metaInfo.user.instCode) }}">EPR for {{ metaInfo.user.instCode }} </a>
    </h3>
{% endif %}

<div id="events" hidden></div>

{% if metaInfo.prefs %}
    <div class="wall">
        {% if metaInfo.taskCodes %}
            <div class="brick padded">
                <h2>Favourite tasks for {{ year }}</h2>
                <b>Tasks</b> in {{ year }} favourited by {{ user.name }}: <br />
                    <ul id="taskList" name="taskList">
                    </ul>
            </div>
        {% endif %}
        {% if metaInfo.plCodes %}
            <div class="brick padded">
                <h2>Favourite pledges for {{ year }}</h2>
                <b>Pledges</b> in {{ year }} favourited by {{ user.name }}: <br />
                    <ul id="plList" name="plList">
                    </ul>
            </div>
        {% endif %}
        {% if metaInfo.irtPlCodes %}
            <div class="brick padded">
                <h2>Pledges for Institute Responsibility tasks in {{ year }}</h2>
                <b>Pledges for Institute Responsibility tasks</b> in {{ year }}
                    <ul id="irtPlCodes" name="irtPlCodes">
                    </ul>
            </div>
        {% endif %}

    </div>
{#{%  elif  metaInfo.mgt %}#}
{%  else %}
    <div class="wall2">
        {% if metaInfo.taskCodes %}
            <div class="brick padded">
                <h2>Managed tasks for {{ year }}</h2>
                 Tasks in {{ year }} managed by {{ user.name }}: <br />
                    <ul id="taskList" name="taskList">
                    </ul>
            </div>
        {% endif %}
        {% if metaInfo.plCodes %}
            <div class="brick padded">
                <h2>Managed pledges for {{ year }}</h2>
                 Pledges in {{ year }} managed by {{ user.name }}: <br />
                    <ul id="plList" name="plList" hidden>
                    </ul>
            </div>
        <button id="showHidePledges" type='button'>Show List of Pledges</button>
        {% endif %}
    </div>
{#{% else %}#}

<h2>Member Pledges in {{ year }}</h2>

    <button id="showHideHelp" type='button'>Show Help</button>
    <div id="info-help" hidden>
                        <p>
                            You can click on the text in the "Project", "Activity" and "Task name" columns to show the description (if
                            provided by the corresponding managers) and names of the corresponding (Project/Activity/Task) managers. In
                            case you want to contact them, simply click on the names, a pre-filled window with your mail client will open.
                        </p>
                        <p>
                            Clicking on the headers of the columns sorts them, a second click on the header reverses the sorting order.
                        </p>
                        <p>
                            At the bottom of the table you find fields to search in individual columns. Independent searches will be
                            combined with "AND". So if you look for a string in the Activity column, you can restrict the resulting rows to
                            shifts by combining this search with a search for "shift" in the "Task Type" column.
                        </p>
                        <p>
                            You can select individual rows by clicking on the checkbox in the first column. The selected rows can then be
                            exported in various ways by clicking on the "Export selected..." button, and selecting the desired format in the
                            pop-up menu from there.
                        </p>
                    </div>

        <div id="noMemPldTableDiv" class="brick padded" hidden>
        No member/personal pledges found
        </div>

        <div id="MemPldTableDiv" hidden>

            <div name="tableButtons" id="tableButtons"></div>
            <div class="brick huge padded">
                <table id="projectTable" class="dataTable" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th colspan="4"></th>
                        <th colspan="7" class="left-border">Task</th>
                        <th colspan="11" class="left-border">Pledge</th>
                    </tr>
                    <tr>
                        <th></th>   <!-- col 1 for checkboxes -->
                        <th>Project</th>
                        <th>Activity</th>
                        <th>Level-3</th>
                        <th class="left-border">Task Name</th> <!-- col 5 -->
                        <th>Needed Work</th>
                        <th>Fraction Done</th>
                        <th>% of work at CERN</th>
                        <th>Type of task</th>
                        <th>Comment</th>
                        <th>edit Task</th>
                        <th class="left-border">User</th>    <!-- col 12 -->
                        <th>Institute for Pledge</th>
                        <th>Work Pledged</th>
                        <th>Work Accepted</th>
                        <th>Work Done</th>
                        <th>Done/ Pledged</th>
                        <th>Status</th>                     <!-- col 18 -->
                        <th>Year</th>
                        <th>edit/update Pledge</th>
                        <th>reject Pledge</th>
                        <th>Work Already Done</th>
                        <th>PlegdeCode</th>           <!-- contains taskId, userId and instId -->
                        <th>FullTaskName</th>           <!-- contains taskId, userId and instId -->
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th></th>   <!-- col 1 for checkboxes -->
                        <th>Project</th>
                        <th>Activity</th>
                        <th>Level-3</th>
                        <th class="left-border">Task Name</th> <!-- col 5 -->
                        <th>Needed Work</th>
                        <th>Fraction Done</th>
                        <th>% of work at CERN</th>
                        <th>Type of task</th>
                        <th>Comment</th>
                        <th>edit Task</th>
                        <th class="left-border">User</th>    <!-- col 12 -->
                        <th>Institute for Pledge</th>
                        <th>Work Pledged</th>
                        <th>Work Accepted</th>
                        <th>Work Done</th>
                        <th>Done/ Pledged</th>
                        <th>Status</th>                     <!-- col 18 -->
                        <th>Year</th>
                        <th>edit/update Pledge</th>
                        <th>reject Pledge</th>
                        <th>Work Already Done</th>
                        <th>PlegdeCode</th>           <!-- contains taskId, userId and instId -->
                        <th>FullTaskName</th>           <!-- contains taskId, userId and instId -->
                    </tr>
                    <tr>
                        <td></td>   <!-- col 1 for checkboxes -->
                        <td>Project</td>
                        <td>Activity</td>
                        <td>Level-3</td>
                        <td class="left-border">Task Name</td> <!-- col 5 -->
                        <td>Needed Work</td>
                        <td>Fraction Done</td>
                        <td>% of work at CERN</td>
                        <td>Type of task</td>
                        <td>Comment</td>
                        <td>edit Task</td>
                        <td class="left-border">User</td>    <!-- col 12 -->
                        <td>Institute for Pledge</td>
                        <td>Work Pledged</td>
                        <td>Work Accepted</td>
                        <td>Work Done</td>
                        <td>Done/ Pledged</td>
                        <td>Status</td>                      <!-- col 18 -->
                        <td>Year</td>
                        <td>edit/update Pledge</td>
                        <td>reject Pledge</td>
                        <td>Work Already Done</td>
                        <td>PlegdeCode</td>           <!-- contains taskId, userId and instId -->
                        <td>FullTaskName</td>           <!-- contains taskId, userId and instId -->
                    </tr>
                </tfoot>
            </table>
            </div>
        </div> <!-- memPldTableDiv  -->

        {% if year  == 2016 %}
            <p>
                <em><b>Note: The summed values on the bottom do NOT take the factor of 0.25 for nonCore tasks into account !</b></em>
            </p>
            <hr />
        {% endif %}

        {% if metaInfo.user %}

            <h2>Shift summary in {{ year }}</h2>

            <div id="noShiftTableDiv" class="brick padded" hidden>
            No shifts found
            </div>

            <div id="ShiftTableDiv" hidden>

            {% if year  > 2016 %}
            <h3>NOTE: only offical shifts (i.e. the ones mapped to a shift task) are shown.</h3>
            {% endif %}

            <div name="tableSButtons" id="tableSButtons"></div>

            <div class="brick huge padded">

            <table id="shiftTable" class="dataTable" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Subsystem</th>
                        <th>Type</th>
                        <th>Flavour</th>
                        <th width="60px">Shifter</th>
                        <th width="60px">Institute</th>
                        <th>Sum of CSP (weighted)</th>
                        <th>Number of Shifts Done</th>
                        <th>Accumulated Time Done (days)</th>
                        <th>SumCSP/AccTime</th>
                        <th>CSP Total</th>
                        <th>Number of Shifts Total</th>
                        <th>Accumulated Time Total (days)</th>
                        <th>Details</th>
                   </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Subsystem</th>
                        <th>Type</th>
                        <th>Flavour</th>
                        <th width="60px">Shifter</th>
                        <th width="60px">Institute</th>
                        <th>Sum of CSP (weighted)</th>
                        <th>Number of Shifts Done</th>
                        <th>Accumulated Time Done (days)</th>
                        <th>SumCSP/AccTime</th>
                        <th>CSP Total</th>
                        <th>Number of Shifts Total</th>
                        <th>Accumulated Time Total (days)</th>
                        <th>Details</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Subsystem</td>
                        <td>Type</td>
                        <td>Flavour</td>
                        <td width="60px">Shifter</td>
                        <td width="60px">Institute</td>
                        <td>Sum of CSP (weighted)</td>
                        <td>Number of Shifts Done</td>
                        <td>Accumulated Time Done (days)</td>
                        <td>SumCSP/AccTime</td>
                        <td>CSP Total</td>
                        <td>Number of Shifts Total</td>
                        <td>Accumulated Time Total (days)</td>
                        <td>Details</td>
                   </tr>
                </tfoot>
            </table>
        </div> <!-- brick -->

            </div> <!-- shiftTableDiv -->

        {% endif %} {# metaInfo.user #}

{% endif %} {# metaInfo.prefs #}

<div id="dialog-mail-addrs" title="Mail addresses of pledgees for selected tasks" class="confirm" hidden>
      <textarea id="mail-addrs" name="mail-addrs" style="width: 100%;height: 100%"></textarea>
</div>

{% endblock %}

{% block scripts %}

{{ super() }}
{{ pagedown.include_pagedown() }}

{#    <script language="JavaScript" src="/static/ShowMorePlugin.js"></script>#}

<script language="JavaScript">
$(document).ready(function() {

    setupHelpButton();

    var canAdmin = false;
    {% if current_user.is_administrator() %}
        var canAdmin = true;
    {% endif %}

    {% if metaInfo.prefs or metaInfo.mgt %}
        {%  if metaInfo.taskCodes %}
            $.ajax( {
                url: '{{ url_for("api.taskInfoForTaskCodes") }}',
                data: {
                    "year": {{ session['year'] }},
                    "taskCodes": "{{ metaInfo.taskCodes }}",
                }, // close opened "data" block
                method: "POST",
                "dataSrc": "taskInfo",
                beforeSend: function (xhr, settings) {
                    var d = new Date();
                    start = d.getTime();
                    $("#loading-time").html('loading task info ... ');
                },
                success: function (data) {
                    var stop = new Date().getTime();
                    $("#loading-time").html('Loading task info took ' + (stop - start).toFixed(0) + ' msec.');
                    var items = data['taskInfo'];
                    var newList = '';
                    if (items) {
                        console.log(items[0]['code']);
                        for (i = 0; i < items.length; i++) {
                            newList += '<li> <a href="' + $SCRIPT_ROOT + '/showTask/' + items[i]['code'] + '"> ' + items[i]['name'] + '</a></li>';
                        }
                    }
                    $("#taskList" ).append( newList );
                },
            } );
        {% endif %}
        {%  if metaInfo.plCodes %}
            $.ajax( {
                url: '{{ url_for("api.pledgeInfoForPledgeCodes") }}',
                data: {
                    "year": {{ session['year'] }},
                    "plCodes": "{{ metaInfo.plCodes }}",
                }, // close opened "data" block
                method: "POST",
                "dataSrc": "plInfo",
                beforeSend: function (xhr, settings) {
                    var d = new Date();
                    start = d.getTime();
                    $("#loading-time").html('loading pledge info ... ');
                },
                success: function (data) {
                    var stop = new Date().getTime();
                    $("#loading-time").html('Loading pledge info took ' + (stop - start).toFixed(0) + ' msec.');
                    var items = data['plInfo'];
                    var newList = '';
                    if (items) {
                        console.log(items[0]['code']);
                        for (i = 0; i < items.length; i++) {
                            newList += '<li> <a href="' + $SCRIPT_ROOT + '/showPledge/' + items[i]['code'] + '"> Pledge ' + items[i]['code'] + '</a></li>';
                        }
                    }
                    $("#plList" ).append( newList );
                },
                error: function (data) { alert(data); },
            } );
            $("#showHidePledges").on('click', function(event) {
                $('#plList').toggle();
            });
        {% endif %} <!-- metaInfo.plCodes -->

    {% endif %} <!-- metaInfo.prefs or metaInfo.mgt -->

    function columnWiseSearch () {
        var title = $(this).text();
        if (title.length == 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    }

    function getColour(val) {
        var col = '';
        if ( val == '-') {
            col = 'deeppink';
        } else if ( parseFloat(val) > 0.80  ) {
              col = 'lawngreen';
        } else if ( parseFloat(val) > 0.42 ) {
             col = 'orange';
        } else if ( parseFloat(val) > -0.1 ) {
            col = 'orangered';
        }
        return col;
    }

    $("#events").html("");

    var start;
    var events = $("#events");

    var ajaxInfo = {
        {% if metaInfo.projId %} // keep this for the case we get projId = -1 for all projects
            url : '{{ url_for("api.projectInfo") }}',
            data : {
                "year" : {{ session['year'] }} ,
                "proj"  : "{{ metaInfo.projId }}",
                "user" : {% if metaInfo.user %} "{{ metaInfo.user.username }}", "allUsers" : false, {% else %} "" , "allUsers" : true, {% endif %}
                } , // close opened "data" block
        {% elif metaInfo.taskCodes %}
            url : '{{ url_for("api.pledgesForTaskCodes") }}',
            data : {
                "year" : {{ session['year'] }} ,
                "taskCodes"  : "{{ metaInfo.taskCodes }}",
                } , // close opened "data" block
        {% elif metaInfo.plCodes %}
            url : '{{ url_for("api.pledgesForPledgeCodes") }}',
            data : {
                "year" : {{ session['year'] }} ,
                "plCodes"  : "{{ metaInfo.plCodes }}",
                } , // close opened "data" block
        {% else %}
            url : '{{ url_for("api.userPledges") }}',
            data : {
                "username" : "{{ metaInfo.user.username }}", "year" : {{ session['year'] }}
                } , // close opened "data" block
        {% endif %}
    }


    // column-wise search
    $('#projectTable tfoot th').each( function () {
        var title = $(this).text();
        var title = $(this).text();
        if (title.length <= 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    } );
    var pldTable = $("#projectTable").DataTable( projPldTableSetup(ajaxInfo, 'projectTable', 'MemPldTableDiv') );
    // add our buttons to the table and prepend them to the table:
    icmsEprButtons( { table: pldTable, 
                      buttonDivName : 'tableButtons',
                      addOnButtons : addOnButtonsPledges(canAdmin, pldTable)
                  } );
    setupColSearch(pldTable);
    pldTable.draw();

    // ----------------------------------------------------------------------------------------------

    // not working, needs debugging ... later ...
    // addEvtListeners( 'projectTable', table, {{ year }} );


{% if metaInfo.user %}

    // column-wise search
    $('#shiftTable tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

    var tableS = $("#shiftTable").DataTable({
        "deferRender": true,
        stateSave: true,
        // "fixedHeader" : true,
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        // see: https://datatables.net/examples/basic_init/dom.html
        "dom": icmsEprDOM(),

       "footerCallback": function ( row, data, start, end, display ) {
            return footerSummary( row, data, start, end, display, this.api(), "shiftTable", [6,7,8,10,11,12], [], 4)
            },

        "ajax": {
            url : '{{ url_for("api.shiftInfoUser", username='%s' % metaInfo.user.username ) }}',
            type:"POST",
            data: { "year" : {{ year }} },
            "dataSrc": "shifts",
            beforeSend: function() {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading info ... ');
            },
            complete: function(  json ) {
                var stop = new Date().getTime();
                $("#loading-time").html('Loading took '+ (stop-start).toFixed(0) +' msec.');
                console.log('shift json:', json.responseJSON.shifts.length, json);
                if ( json.responseJSON.shifts.length > 0 ) {
                    $('#ShiftTableDiv').show();
                    $('#noShiftTableDiv').hide();
                } else {
                    $('#ShiftTableDiv').hide();
                    $('#noShiftTableDiv').show();
                }
            },
        },
        "columnDefs": [
            // add a first column with checkboxes
            {
               orderable: false,
               className: 'select-checkbox',
               "data" : "check",
               targets : 0,
            },
            { "data": "subSystem" , targets:1 },
            { "data": "shiftType" , targets:2 },
            { "data": "flavour"   , targets:3 },
            { "data": "shifter"   , targets:4 },
            { "data": "institute" , targets:5 },
            { "data": "sumWeights"  , targets:6,
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "nShiftsDone" , targets:7,
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "shiftTimeDone", targets:8,
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "sumWeights"   , targets:9,  // ratio of sumWeights/accumulatedTime
                  "render": function ( data, type, row ) {
                                        var accTime = parseFloat(row["shiftTimeDone"]);
                                        var val = 0.;
                                        if (accTime !== 0.) { val = parseFloat(row["sumWeights"])/(accTime); };
                                        return ' ' + val.toFixed(2);
                                    }
            },
            { "data": "sumWeightsPld"  , targets:10,
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "nShiftsPld"   , targets:11,
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "shiftTimePld" , targets:12,
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "subSystem" , targets:13,
                  "render": function ( data, type, row ) {
                    var data = '?yr='+{{ year }}+'&sid='+row["userId"]+'&st='+row["shiftType"]+'&sf='+row["flavour"]+'&sub='+row["subSystem"];
                    var url = '{{ url_for("main.shiftDetails", username='%s' % metaInfo.user.username ) }}';
                    return '<a href="'+url+data+'">Details</a>';
                }
            },
        ],
        "order": [[1, 'asc'],[2, 'asc']],
        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
            rows: { _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                  }
        },
    });

    // add our buttons to the table and prepend them to the table:
    icmsEprButtons( { table: tableS, buttonDivName : 'tableSButtons', canAdmin: canAdmin } );
    setupColSearch(tableS);

    tableS.draw();

{% endif %}

});


</script>

{% endblock %}
