{% extends "base.html" %}

{% block head %}
{{ super() }}

<!-- {% import "bootstrap/wtf.html" as wtf %} -->

{% import "_macros.html" as macros %}

{% endblock %}

{% block title %}
iCMS - EPR Shift details
{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>
        iCMS - EPR Shift details
    </h1>
</div>

<div>
    <h4> Shift parameters: </h4>
    <p class="medium-font">
        SubSystem: <span id="subSys" class="blue bold">{{ shiftSubSys }}</span> - 
        ShiftType: <span id="sType" class="blue bold">{{ shiftType }}</span> - 
        shiftFlavour: <span id="sFlavour" class="blue bold">{{ shiftFlavourName }}</span>
    </p>
</div>
<div>
    <h4> Scaling factors for shift weights: </h4>
    <p class="medium-font">
        Weights for this shift are scaled with: (scaleFactor <span id='sWeightFac' class="blue bold"> 1. </span> )* originalWeight + (<span id='sWeightAdd' class="blue bold"> 0. </span> addedValueCredits)
    </p>
    <p class="medium-font">
        <b>Summed weights</b> for these shifts: <span id='wSum' class="blue bold"> - </span>
    </p>
</div>
<br/>
<hr/> <!-- --------------- -->
<div id="note"></div>
<br/>
<div name="tableSButtons" id="tableSButtons"></div>

<div class="brick huge padded">

<table id="shiftDetailTable" class="dataTable" cellspacing="0" width="90%">
    <thead>
        <tr>
            <th></th>
            <th>Subsystem</th>
            <th>Type</th>
            <th>Flavour</th>
            <th width="60px">ShifterId</th>
            <th>Shift Start</th>
            <th>Shift End</th>
            <th>Shift Duration (DD-HH:MM)</th>
            <th>Rescaled Weight</th>
       </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <th></th>
            <th>Subsystem</th>
            <th>Type</th>
            <th>Flavour</th>
            <th width="60px">ShifterId</th>
            <th>Shift Start</th>
            <th>Shift End</th>
            <th>Shift Duration (DD-HH:MM)</th>
            <th>Rescaled Weight</th>
        </tr>
        <tr>
            <td></td>
            <td>Subsystem</td>
            <td>Type</td>
            <td>Flavour</td>
            <td width="60px">ShifterId</td>
            <td>Shift Start</td>
            <td>Shift End</td>
            <td>Shift Duration (DD-HH:MM)</td>
            <td>Rescaled Weight</td>
       </tr>
    </tfoot>
</table>
</div> <!-- brick -->


{% endblock %}

{% block scripts %}

{{ super() }}
{{ pagedown.include_pagedown() }}

{#    <script language="JavaScript" src="/static/ShowMorePlugin.js"></script>#}

<script language="JavaScript">
$(document).ready(function() {

    setupHelpButton();

    var canAdmin = false;
    {% if current_user.is_administrator() %}
        var canAdmin = true;
    {% endif %}

    // column-wise search
    $('#shiftDetailTable tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

    var tableS = $("#shiftDetailTable").DataTable({
        "deferRender": true,
        stateSave: true,
        // "fixedHeader" : true,
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        // see: https://datatables.net/examples/basic_init/dom.html
        "dom": icmsEprDOM(),

        "ajax": {
            url : '{{ url_for("api.shiftDetailsUser", username='%s' % username ) }}',
            type:"GET",
            data: { "year" : {{ year }},
            "shifterId": {{ hrId }},
            "shiftType": '{{ shiftType }}',
            "shiftSubSys": '{{ shiftSubSys }}',
            "shiftFlavourName": '{{ shiftFlavourName }}'
        },
            "dataSrc": "shiftDetails",
            beforeSend: function() {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading info ... ');
            },
            complete: function(  json ) {
                var stop = new Date().getTime();
                $("#loading-time").html('Loading took '+ (stop-start).toFixed(0) +' msec.');
                // console.log('>> json: ', json.responseJSON);
                var sWeight = json.responseJSON.wScal;
                $("#sWeightFac").html(sWeight[0].toFixed(4));
                $("#sWeightAdd").html(sWeight[1].toFixed(2));
                $("#wSum").html( json.responseJSON.wSum.toFixed(2) );
            },
        },
        "columnDefs": [
            // add a first column with checkboxes
            {
               orderable: false,
               className: 'select-checkbox',
               "data" : "check",
               targets : 0,
            },
            { "data": "subSystem"   , targets:1 },
            { "data": "shiftType"   , targets:2 },
            { "data": "flavourName" , targets:3 },
            { "data": "userId"      , targets:4 },
            { "data": "shiftStart"  , targets:5 },
            { "data": "shiftEnd"    , targets:6 },
            { "data": "duration"    , targets:7 ,
                 "render": function ( data, type, row ) { 
                    var days = new Date(data * 1000).toISOString().slice(8, 9);
                    var hm = new Date(data * 1000).toISOString().slice(11, 16);
                    // console.log( '>>> d/hm: ', days, hm);
                    return days+'-'+hm; 
                }
            },
            { "data": "scaledWeight", targets:8 },
            ],
        "order": [[1, 'asc'],[2, 'asc']],
        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
            rows: { _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                  }
        },
        // add colour to the taks done related fields, using central / expected
        "createdRow": function ( row, data, index ) {
            var duration = data['duration'];
            // console.log( 'coloring: ', duration);
            // standard shifts are either 8h, 1d, or 1w
            if ( (duration != 28800) && (duration != 24*3600) && (duration != 7*24*3600) ) {
                // make sure the threshold list is the same as in showInstitute.html:
                // var col = 'deeppink';
                var col = 'orangered';
                $('td', row).addClass(col);
                $("#note").html('<div class="medium-font"><b>NOTE:</b> shifts with a <span class="'+col+'">red background</span> have a non-standard duration.</div>');
            }
    },
});

    // add our buttons to the table and prepend them to the table:
    icmsEprButtons( { table: tableS, buttonDivName : 'tableSButtons', canAdmin: canAdmin } );
    setupColSearch(tableS);

    tableS.draw();

});

</script>

{% endblock %}
