{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block title %}
iCMS - EPR Pledge Overview for tasks managed by {{ user.name }} in {{ year }}
{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>
        iCMS - EPR Pledge Overview for Tasks managed by {{ user.name }} in {{ year }}
    </h1>
</div>

<div id="events" hidden></div>


<h2>Managed tasks in {{ year }}</h2>

<div id="taskTableDiv">
    <div class="brick huge padded">
        <table id="taskTable" class="dataTable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>   <!-- col 1 for checkboxes -->
                <th>Project/LV1</th>
                <th>Activity/LV2</th>
                <th>LV3</th>
                <th class="left-border">Task Name</th> <!-- col 5 -->
                <th>Needed Work</th>
                <th>% of work at CERN</th>
                <th>Type of task</th>
                <th>Comment</th>
            </tr>        
        </thead>
        <tbody></tbody>
        <tfoot>
    </tfoot>
    </table>
    </div>

</div>    


<h2>Member Pledges in {{ year }}</h2>

    <div>
    <button id="showHideHelp" type='button' class="dt-button">Show Help</button>
    </div>

    <div id="info-help" hidden>
                        <p>
                            You can click on the text in the "Project", "Activity" and "Task name" columns to show the description (if
                            provided by the corresponding managers) and names of the corresponding (Project/Activity/Task) managers. In
                            case you want to contact them, simply click on the names, a pre-filled window with your mail client will open.
                        </p>
                        <p>
                            Clicking on the headers of the columns sorts them, a second click on the header reverses the sorting order.
                        </p>
                        <p>
                            At the bottom of the table you find fields to search in individual columns. Independent searches will be
                            combined with "AND". So if you look for a string in the Activity column, you can restrict the resulting rows to
                            shifts by combining this search with a search for "shift" in the "Task Type" column.
                        </p>
                        <p>
                            You can select individual rows by clicking on the checkbox in the first column. The selected rows can then be
                            exported in various ways by clicking on the "Export selected..." button, and selecting the desired format in the
                            pop-up menu from there.
                        </p>
    </div>

        <div id="noMemPldTableDiv" class="brick padded" hidden>
        No member/personal pledges found
        </div>

        <div id="MemPldTableDiv" hidden>

            <div name="tableButtons" id="tableButtons"></div>
            <div class="brick huge padded">
                <table id="projectTable" class="dataTable" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th colspan="4"></th>
                        <th colspan="7" class="left-border">Task</th>
                        <th colspan="11" class="left-border">Pledge</th>
                    </tr>
                    <tr>
                        <th></th>   <!-- col 1 for checkboxes -->
                        <th>Project/LV1</th>
                        <th>Activity/LV2</th>
                        <th>LV3</th>
                        <th class="left-border">Task Name</th> <!-- col 5 -->
                        <th>Needed Work</th>
                        <th>Fraction Done</th>
                        <th>% of work at CERN</th>
                        <th>Type of task</th>
                        <th>Comment</th>
                        <th>edit Task</th>
                        <th class="left-border">User</th>    <!-- col 12 -->
                        <th>Institute for Pledge</th>
                        <th>Work Pledged</th>
                        <th>Work Accepted</th>
                        <th>Work Done</th>
                        <th>Done/ Pledged</th>
                        <th>Status</th>                     <!-- col 18 -->
                        <th>Year</th>
                        <th>edit/update Pledge</th>
                        <th>reject Pledge</th>
                        <th>Work Already Done</th>
                        <th>PlegdeCode</th>           <!-- contains taskId, userId and instId -->
                        <th>FullTaskName</th>           <!-- contains taskId, userId and instId -->
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th></th>   <!-- col 1 for checkboxes -->
                        <th>Project/LV1</th>
                        <th>Activity/LV2</th>
                        <th>LV3</th>
                        <th class="left-border">Task Name</th> <!-- col 5 -->
                        <th>Needed Work</th>
                        <th>Fraction Done</th>
                        <th>% of work at CERN</th>
                        <th>Type of task</th>
                        <th>Comment</th>
                        <th>edit Task</th>
                        <th class="left-border">User</th>    <!-- col 12 -->
                        <th>Institute for Pledge</th>
                        <th>Work Pledged</th>
                        <th>Work Accepted</th>
                        <th>Work Done</th>
                        <th>Done/ Pledged</th>
                        <th>Status</th>                     <!-- col 18 -->
                        <th>Year</th>
                        <th>edit/update Pledge</th>
                        <th>reject Pledge</th>
                        <th>Work Already Done</th>
                        <th>PlegdeCode</th>           <!-- contains taskId, userId and instId -->
                        <th>FullTaskName</th>           <!-- contains taskId, userId and instId -->
                    </tr>
                    <tr>
                        <td></td>   <!-- col 1 for checkboxes -->
                        <td>Project/LV1</td>
                        <td>Activity/LV2</td>
                        <td>LV3</td>
                        <td class="left-border">Task Name</td> <!-- col 5 -->
                        <td>Needed Work</td>
                        <td>Fraction Done</td>
                        <td>% of work at CERN</td>
                        <td>Type of task</td>
                        <td>Comment</td>
                        <td>edit Task</td>
                        <td class="left-border">User</td>    <!-- col 12 -->
                        <td>Institute for Pledge</td>
                        <td>Work Pledged</td>
                        <td>Work Accepted</td>
                        <td>Work Done</td>
                        <td>Done/ Pledged</td>
                        <td>Status</td>                      <!-- col 18 -->
                        <td>Year</td>
                        <td>edit/update Pledge</td>
                        <td>reject Pledge</td>
                        <td>Work Already Done</td>
                        <td>PlegdeCode</td>           <!-- contains taskId, userId and instId -->
                        <td>FullTaskName</td>           <!-- contains taskId, userId and instId -->
                    </tr>
                </tfoot>
            </table>
            </div>
        </div> <!-- memPldTableDiv  -->

        {% if year  == 2016 %}
            <p>
                <em><b>Note: The summed values on the bottom do NOT take the factor of 0.25 for nonCore tasks into account !</b></em>
            </p>
            <hr />
        {% endif %}

        {% if year  > 2018 %}
            <h2>Pledges for Institute Responsibility Tasks in {{ year }}</h2>

            <div id="noInstRespTableDiv" class="brick padded" hidden>
            No pledges found as part of an Institute Responsibility Task
            </div>

            <div id="InstRespTableDiv" hidden>

            <div name="irpTableButtons" id="irpTableButtons"></div>

            <div class="brick huge padded">

                <table id="irtPledgeTable" class="dataTable" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th colspan="4"></th>
                            <th colspan="5" class="left-border">Task</th>
                            <th colspan="11" class="left-border">Pledge</th>
                        </tr>
                        <tr>
                            <th></th>   <!-- col 1 for checkboxes -->
                            <th>Project/LV1</th>
                            <th>Activity/LV2</th>
                            <th>LV3</th>
                            <th class="left-border">Task Name</th> <!-- col 5 -->
                            <th>Needed Work</th>
                            <th>% of work at CERN</th>
                            <th>Type of task</th>
                            <th>Comment</th>   <!-- col 10 -->
                            <th class="left-border">Institute for Pledge</th>
                            <th>Work Pledged</th>
                            <th>Work Accepted</th>
                            <th>Work Done</th>
                            <th>Done/ Pledged</th>
                            <th>Status</th>                     <!-- col 18 -->
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th></th>   <!-- col 1 for checkboxes -->
                            <th>Project/LV1</th>
                            <th>Activity/LV2</th>
                            <th>LV3</th>
                            <th class="left-border">Task Name</th> <!-- col 5 -->
                            <th>Needed Work</th>
                            <th>% of work at CERN</th>
                            <th>Type of task</th>
                            <th>Comment</th>   <!-- col 10 -->
                            <th class="left-border">Institute for Pledge</th>
                            <th>Work Pledged</th>
                            <th>Work Accepted</th>
                            <th>Work Done</th>
                            <th>Done/ Pledged</th>
                            <th>Status</th>                     <!-- col 18 -->
                        </tr>
                        <tr>
                            <td></td>   <!-- col 1 for checkboxes -->
                            <td>Project/LV1</td>
                            <td>Activity/LV2</td>
                            <td>LV3</td>
                            <th class="left-border">Task Name</td> <!-- col 5 -->
                            <td>Needed Work</td>
                            <td>% of work at CERN</td>
                            <td>Type of task</td>
                            <td>Comment</td>   <!-- col 10 -->
                            <th class="left-border">Institute for Pledge</td>
                            <td>Work Pledged</td>
                            <td>Work Accepted</td>
                            <td>Work Done</td>
                            <td>Done/ Pledged</td>
                            <td>Status</td>                     <!-- col 18 -->
                        </tr>
                    </tfoot>
                </table>
     
            </div> <!-- brick -->

            </div> <!-- InstRespTableDiv -->
        {% endif %} {# year > 2018 #}

<div id="dialog-mail-addrs" title="Mail addresses of pledgees for selected tasks" class="confirm" hidden>
      <textarea id="mail-addrs" name="mail-addrs" style="width: 100%;height: 100%"></textarea>
</div>

{% endblock %}

{% block scripts %}

{{ super() }}
{{ pagedown.include_pagedown() }}

{#    <script language="JavaScript" src="/static/ShowMorePlugin.js"></script>#}

<script language="JavaScript">
$(document).ready(function() {

    setupHelpButton();

    // set flag that for this kind of page (project view) we want to see the 
    // individual peoples pledges for IRtasks :
    var showIndividualIRTPledges = false;

    var canAdmin = false;
    var canManage = false;
    {% if canAdmin %}
        canAdmin = true;
    {% endif %}
    {% if canManage %}
        canManage = true;
    {% endif %}
    console.log('==> setting up: canAdmin/canManage:', canAdmin, canManage );

    function columnWiseSearch () {
        var title = $(this).text();
        if (title.length == 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    }

    function getColour(val) {
        var col = '';
        if ( val == '-') {
            col = 'deeppink';
        } else if ( parseFloat(val) > 0.80  ) {
              col = 'lawngreen';
        } else if ( parseFloat(val) > 0.42 ) {
             col = 'orange';
        } else if ( parseFloat(val) > -0.1 ) {
            col = 'orangered';
        }
        return col;
    }

    $("#events").html("");

    var start;
    var events = $("#events");

    // ----------------------------------------------------------------------------------------------

    var ajaxInfoTasks = {
        url : '{{ url_for("api.getManagedTasksForUser") }}',
        method: "POST",
        dataSrc: "data",
        data : {
            "year" : {{ session['year'] }},
            "user" : "{{ user.username }}",
            "individualIRTPledges": showIndividualIRTPledges
            } // close opened "data" block
    }

    var tskTable = $("#taskTable").DataTable( tskTableSetup(ajaxInfoTasks, 'taskTable', 'TaskTableDiv') );
    // add our buttons to the table and prepend them to the table:
    // var aob0 = addOnButtonsPledges(canManage, tskTable);
    // aob.push( [] )
    // icmsEprButtons( { table: tskTable, 
    //                   buttonDivName : 'tableButtons',
    //                   addOnButtons : aob
    //               } );
    // setupColSearch(tskTable);
    tskTable.draw();

    // ----------------------------------------------------------------------------------------------

    var ajaxInfo = {
        url : '{{ url_for("api.getManagedTaskPledgesForUser") }}',
        method: "POST",
        data : {
            "year" : {{ session['year'] }},
            "user" : "{{ user.username }}",
            "individualIRTPledges": false
            } // close opened "data" block
    }

    // column-wise search
    $('#projectTable tfoot th').each( function () {
        var title = $(this).text();
        var title = $(this).text();
        if (title.length <= 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    } );
    var pldTable = $("#projectTable").DataTable( projPldTableSetup(ajaxInfo, 'projectTable', 'MemPldTableDiv') );
    // add our buttons to the table and prepend them to the table:
    var aob = addOnButtonsPledges(canManage, pldTable);
    aob.push( [] )
    icmsEprButtons( { table: pldTable, 
                      buttonDivName : 'tableButtons',
                      addOnButtons : aob
                  } );
    setupColSearch(pldTable);
    pldTable.draw();

    // ----------------------------------------------------------------------------------------------

    {% if year  > 2018 %}
        var irpAjaxInfo = {
                url : '{{ url_for("api.getManagedIRTaskPledgesForUser") }}',
                method: "POST",
                data : {
                    "year" : {{ session['year'] }},
                    "user" : "{{ user.username }}",
                    "individualIRTPledges": true
                } , // close opened "data" block
        };

        // column-wise search
        $('#instRespPledges tfoot th').each( function () {
            var title = $(this).text();
            if (title.length <= 1) {
                $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
            } else {
                $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
            }
        } );

        var data = { 'addOnButtons' : addOnButtonsIRPledges(canManage, irpTable) };

        var irpTableInfo = instRespPldTableSetup( irpAjaxInfo, 'irtPledgeTable', 'InstRespTableDiv', data );
        var irpTable = $("#irtPledgeTable").DataTable( {
            "deferRender": true,
            stateSave: true,
            // "fixedHeader" : true,
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            // see: https://datatables.net/examples/basic_init/dom.html
            "dom": icmsEprDOM(),
            "footerCallback": function (row, data, start, end, display ) {
                // note, the count here includes the "hidden" user column (11), so we have the cols 13,14,15 for hte pledges
                return footerSummary( row, data, start, end, display, this.api(), 'irtPledgeTable', [5,13,14,15], [6,16], 4)
            },
            ajax: pledgeTableSetupAjax( irpAjaxInfo, 'InstRespTableDiv' ),
            "columnDefs": [
                // add a first column with checkboxes
                { targets : 0,
                orderable: false,
                className: 'select-checkbox'
                },
                { targets:1,
                className : "project-description",
                "render": function ( data, type, row ) { return data+'<div id="project-desc"></div>'; }
                },
                { targets:2,
                className : "activity-description",
                "render": function ( data, type, row ) { return data+'<div id="activity-desc"></div>'; }
                },
                { targets:3,
                    "render": function ( data, type, row ) { return data; }
                },
                { targets : 4,
                className : 'task-description left-border',
                "render": function ( data, type, row ) { return data+'<div id="task-desc"></div>'; }
                },
                {   // borders for this one too:
                    targets : 9,
                    className : 'left-border',
                },
                { // format the numbers to 2 decimals
                    targets: [6,10,11,12,13], "render":
                        function ( data, type, row ) {
                                if ( jQuery.isNumeric(data) ) {
                                    return ' '+data.toFixed(2);
                                } else {
                                    console.log("Invalid data "+data+" found in row: " + row)
                                    return '-.0';
                                }
                        }
                },
            ],
            // add colour to the taks done related fields
            // "createdRow": pledgeTableSetupCreatedRow,
            select : {  // select on the checkboxes:
                style:    'multi',
                selector: 'td:first-child',
                rows: {
                        _: "You have selected %d rows",
                        0: "Click a row to select it",
                        1: "Only 1 row selected"
                    }
            }
    
        } );

        // console.log('pldTable: ', pldTable.columns());
        // console.log('irpTable: ', irpTable.columns())

        // irpTable.columns([9,16,17]).visible(true);

        // add our buttons to the table and prepend them to the table:
        icmsEprButtons({
            table: irpTable,
            buttonDivName: 'irpTableButtons',
            addOnButtons : addOnButtonsIRPledges(canManage, irpTable)
        });
        irpTable.draw();
        setupColSearchIRPT(irpTable);
    {% endif %}
    // ----------------------------------------------------------------------------------------------

    // not working, needs debugging ... later ...
    // addEvtListeners( 'projectTable', table, {{ year }} );

});

</script>

{% endblock %}
