{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block title %}
    iCMS - EPR Contributions by Institute and Country for project {{ project.name }} in {{ year }}
{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>
        iCMS - EPR Contributions by Institute and Country for project {{ project.name }} in {{ year }}
    </h1>
</div>

<div class="form">
    {% if form %}
        {{ wtf.quick_form(form) }}
    {% endif %}
</div>

    <div id="events"></div>

<button id="showHideHelp" type='button'>Show Help</button>
<div id="info-help" hidden>
    <p>
        Clicking on the headers of the columns sorts them, a second click on the header reverses the sorting order.
    </p>
    <p>
        At the bottom of the table you find fields to search in individual columns. Independent searches will be combined with "AND". So if you look for a string in the Activity column, you can restrict the resulting rows to shifts by combining this search with a search for "shift" in the "Task Type" column.
    </p>
</div>

<h3> Contributions to {{ project.name }} in {{ year }}</h3>

<p>The numbers in the cells reflect the work pledged, accepted and done, respectively.</p>

<div name="tableButtons" id="tableButtons"></div>

<div class="brick huge padded">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#tab-table1" data-toggle="tab">Tasks by Institute</a>
        </li>
        <li>
            <a href="#tab-table2" data-toggle="tab">Tasks by Country</a>
        </li>
        <li>
            <a href="#tab-table3" data-toggle="tab">Activities by Institute</a>
        </li>
        <li>
            <a href="#tab-table4" data-toggle="tab">Activities by Country</a>
        </li>
        <li>
            <a href="#tab-table5" data-toggle="tab">Authors by Institute</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="tab-table1">
            <table id="projectInstituteTable" class="dataTable table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Activity</th>  <!-- col 1 -->
                        <th>TaskName</th>
                        {% for i in instCodes %}
                           <th> {{ i }} </th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for a in aNames %}
                        {% for t in tNames[a] %}
                            <tr>
                                <td> {{ a }} </td>
                                <td> {{ t }} </td>
                                {% for i in instCodes %}
                                    {% if i in projInstMap[a][t] %}
                                        <td>
                                            {{ "%2.2f" % projInstMap[a][t][i][0] }} <br/>
                                            {{ "%2.2f" % projInstMap[a][t][i][1] }} <br/>
                                            {{ "%2.2f" % projInstMap[a][t][i][2] }}
                                        </td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <th>Activity</th>  <!-- col 1 -->
                        <th>TaskName</th>
                        {% for i in instCodes %}
                           <th> {{ i }} </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th> </th>  <!-- col 1 -->
                        <th>Totals</th>
                        {% for i in instCodes %}
                           <th>
                                {{ "%2.2f" % instSums[i][0] }} <br/>
                                {{ "%2.2f" % instSums[i][1] }} <br/>
                                {{ "%2.2f" % instSums[i][2] }}

                           </th>
                        {% endfor %}
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="tab-pane" id="tab-table2">
            <table id="projectCountryTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Activity</th>  <!-- col 1 -->
                        <th>TaskName</th>
                        {% for c in countryNames %}
                           <th> {{ c }} </th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for a in aNames %}
                        {% for t in tNames[a] %}
                            <tr>
                                <td> {{ a }} </td>
                                <td> {{ t }} </td>
                                {% for c in countryNames %}
                                    {% if c in projCountryMap[a][t] %}
                                        <td>
                                            {{ "%2.2f" % projCountryMap[a][t][c][0] }} <br/>
                                            {{ "%2.2f" % projCountryMap[a][t][c][1] }} <br/>
                                            {{ "%2.2f" % projCountryMap[a][t][c][2] }}
                                        </td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <th>Activity</th>  <!-- col 1 -->
                        <th>TaskName</th>
                        {% for c in countryNames %}
                           <th> {{ c }} </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th> </th>  <!-- col 1 -->
                        <th>Totals</th>
                        {% for c in countryNames %}
                           <th>
                                {{ "%2.2f" % countrySums[c][0] }} <br/>
                                {{ "%2.2f" % countrySums[c][1] }} <br/>
                                {{ "%2.2f" % countrySums[c][2] }}
                           </th>
                        {% endfor %}
                    </tr>

                </tfoot>
            </table>
        </div>
        <div class="tab-pane" id="tab-table3">
            <table id="projectActInstituteTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Activity</th>  <!-- col 1 -->
                        {% for i in instCodes %}
                           <th> {{ i }} </th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for a in aNames %}
                        <tr>
                            <td> {{ a }} </td>
                            {% for i in instCodes %}
                                {% if i in projActInstMap[a] %}
                                    <td>
                                        {{ "%2.2f" % projActInstMap[a][i][0] }} <br/>
                                        {{ "%2.2f" % projActInstMap[a][i][1] }} <br/>
                                        {{ "%2.2f" % projActInstMap[a][i][2] }}
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <th>Activity</th>  <!-- col 1 -->
                        {% for i in instCodes %}
                           <th> {{ i }} </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Totals</th>
                        {% for i in instCodes %}
                           <th>
                                {{ "%2.2f" % instSums[i][0] }} <br/>
                                {{ "%2.2f" % instSums[i][1] }} <br/>
                                {{ "%2.2f" % instSums[i][2] }}

                           </th>
                        {% endfor %}
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="tab-pane" id="tab-table4">
            <table id="projectActCountryTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Activity</th>  <!-- col 1 -->
                        {% for c in countryNames %}
                           <th> {{ c }} </th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for a in aNames %}
                        <tr>
                            <td> {{ a }} </td>
                            {% for c in countryNames %}
                                {% if c in projActCountryMap[a] %}
                                    <td>
                                        {{ "%2.2f" % projActCountryMap[a][c][0] }} <br/>
                                        {{ "%2.2f" % projActCountryMap[a][c][1] }} <br/>
                                        {{ "%2.2f" % projActCountryMap[a][c][2] }}
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <th>Activity</th>  <!-- col 1 -->
                        {% for c in countryNames %}
                           <th> {{ c }} </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Totals</th>
                        {% for c in countryNames %}
                           <th>
                                {{ "%2.2f" % countrySums[c][0] }} <br/>
                                {{ "%2.2f" % countrySums[c][1] }} <br/>
                                {{ "%2.2f" % countrySums[c][2] }}
                           </th>
                        {% endfor %}
                    </tr>

                </tfoot>
            </table>

        </div>
        <div class="tab-pane" id="tab-table5">
            <table id="authorByInstTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Institute</th>  <!-- col 1 -->
                        <th>Work Pledged</th>
                        <th>Work Accepted</th>
                        <th>Work Done</th>
                        <th>nAuth for {{ project.name }} </th>
                        <th>authWorkExp for {{ project.name }} </th>
                        <th>Work Pledged / authWorkExp </th>
                        <th>Work Accepted / authWorkExp </th>
                        <th>Work Done / authWorkExp </th>
                    </tr>
                </thead>

                <tbody>
                    {% for i in instCodes %}
                        <tr>
                            <td> {{ i }} </td>
                                {% for k in range(3) %}
                                    <td> {{ "%2.2f" % instSums[i][k] }}</td>
                                {% endfor %}
                            <td> {{ '%3.2f' % nAuthInst[project.name][i] }} </td>
                            <td> {{ '%3.2f' % authExpInst[project.name][i] }} </td>
                                {% for k in range(3) %}
                                    <td> {{ "%2.2f" % authInstRatMap[i][k] }} </td>
                                {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div> <!-- table 5: auth by inst -->
    </div>
</div>
{% endblock %}

{% block scripts %}

{{ super() }}
{{ pagedown.include_pagedown() }}


<script language="JavaScript">
$(document).ready(function() {

    setupHelpButton();

    $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
        $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
    } );

    getUAICInfo( "{{ url_for("api.projectUserInsts") }}", "{{ project.id }}", {{ session['year'] }});
     getProjectCounts( "{{ url_for("api.projectCounts") }}", "{{ project.id }}", {{ session['year'] }});

    var start;
    var events = $("#events");
    var table = $("table.table").DataTable({
        // "deferRender": true,
        stateSave: true,
        // "fixedHeader" : true,
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        // see: https://datatables.net/examples/basic_init/dom.html
        "dom": '<"top"lBifr>t<"bottom"flp>',
        select : {
            style:    'multi',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },
        buttons : [
            {
                text: 'Select all',
                action: function () {
                    table.rows().select();
                }
            },
            {
                text: 'Select none',
                action: function () {
                    table.rows().deselect();
                }
            },
            {
                extend: 'collection',
                text: 'Export selected ... ',
                autoClose: true,
                buttons : [
                    { extend: 'copy',
                      text:'Copy to clipboard',
                      exportOptions: {
                            modifier: {
                                selected: true
                            }
                      }
                    },
                    { extend: 'csv',
                      text:'Export to CSV file',
                      exportOptions: {
                            modifier: {
                                selected: true
                            }
                      }
                    },
                    { extend: 'excel',
                      text:'Export to Excel file',
                      exportOptions: {
                            modifier: {
                                selected: true
                            }
                      }
                    },
                    { extend: 'pdf',
                      orientation: 'landscape',
                      exportOptions : {
                            columns: ':visible',
                            modifier: {
                                selected: true
                            }
                      },
                      customize: function ( doc ) {
                            var wList = [];
                            for (i=0; i<table.columns(':visible').length; i++) { wList.push('*');}
                            doc.widths = wList;
                      }
                    },
                ]
            },
        ],
    });

});
</script>

{% endblock %}
