{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.css') }}">

{% endblock %}

{% block title %}iCMS - EPR Task Overview {% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>
        iCMS - EPR Task Overview
    </h1>
</div>


<div class="wall2">
    <div class="brick">
        <h2> Task {{ taskInfo['name'] }} in {{ taskInfo['year'] }}</h2>
        <h3> Level-3: {{ lvl3Map[ taskInfo['level3'] ] }} </h3>
        <h3> LV2/Activity: {{ taskInfo['activity'] }} </h3>
        <div>
        {%  if canManageTask %}
                <form action="{{ url_for('manage.task', code=taskInfo['code']) }}" >
                <button id="editTask" type="submit" class="warning" style="float: right;">Manage Task</button>
                </form>
        {% endif %}
        <h3> LV1/Project:  {{ taskInfo['project'] }} </h3>
        </div>
        <table id="taskInfoTable" class="left-aligned" cellpadding="5">
            <tbody>
            {% for k in taskInfoItems %}
            <tr>
                <td width="20%"> <b> {{ k }} </b> </td>
                <td width="40%"> {{ taskInfo[k] }} </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="brick">

        {% if taskInfo['code'] in favTaskCodes %}
            <a href="#" id="fav" title="[-] Remove from favorites" class="active">&nbsp;</a>
        {%  else %}
            <a href="#" id="fav" title="[+] Add as favorite">&nbsp;</a>
        {%  endif %}

        <h3>Managers:</h3>
        <ul>
            <li> Task    : {% if taskInfo['managers']['task'] %}
                            <a href="mailto:{{ taskInfo['managers']['task'] }}?Subject=Request%20for%20information"> {{ taskInfo['managers']['task'] }} </a>
                           {% else %} N/A {% endif %}
            </li>
            <li> LV2/Activity: {% if taskInfo['managers']['activity'] %}
                            <a href="mailto:{{ taskInfo['managers']['activity'] }}?Subject=Request%20for%20information"> {{ taskInfo['managers']['activity'] }} </a>
                           {% else %} N/A {% endif %}
            </li>
            <li> LV1/Project : {% if taskInfo['managers']['project'] %}
                            <a href="mailto:{{ taskInfo['managers']['project'] }}?Subject=Request%20for%20information"> {{ taskInfo['managers']['project'] }} </a>
                           {% else %} N/A {% endif %}
            </li>
        </ul>

        {%  if 'observers' in taskInfo.keys() %}
        <h3>Observers:</h3>
        <ul>
            {%  for patType in ['task', 'activity', 'project'] %}
            <li> {{ patType | capitalize }} : {% if taskInfo['observers'][patType] %}
                            <a href="mailto:{{ taskInfo['observers'][patType] }}?Subject=Notification"> {{ taskInfo['observers'][patType] }} </a>
                           {% else %} N/A {% endif %}
            </li>
            {% endfor %}
        </ul>
        {%  endif %}
    </div>
</div>

    <h3>Pledges for this task</h3>

<div name="tableButtons" id="tableButtons"></div>

<div class="brick huge padded">
<table id="pledgeTable" class="dataTable" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th></th>   <!-- for checkboxes -->
            <th>User</th>
            <th>Institute for Pledge</th>
            <th>Work Pledged</th>
            <th>Work Accepted</th>
            <th>Work Done</th>
            <th>Done/ Pledged</th>
            <th>Status</th>
            <th>Year</th>
            <th>edit/update Pledge</th>
            <th>reject Pledge</th>
            <th>pledgeId</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <th></th>   <!-- for checkboxes -->
            <th>User</th>
            <th>Institute for Pledge</th>
            <th>Work Pledged</th>
            <th>Work Accepted</th>
            <th>Work Done</th>
            <th>Done/ Pledged</th>
            <th>Status</th>
            <th>Year</th>
            <th>edit/update Pledge</th>
            <th>reject Pledge</th>
            <th>pledgeId</th>
        </tr>
        <tr>
            <td></td>   <!-- for checkboxes -->
            <td>User</td>
            <td>Institute for Pledge</td>
            <td>Work Pledged</td>
            <td>Work Accepted</td>
            <td>Work Done</td>
            <td>Done/ Pledged</td>
            <td>Status</td>
            <td>Year</td>
            <td>edit/update Pledge</td>
            <td>reject Pledge</td>
            <td>pledgeId</td>
        </tr>
    </tfoot>
</table>
</div>

    <div id="dialog-mail-addrs" name="dialog-mail-addrs" hidden>
        <textarea id="mail-addrs" name="mail-addrs"></textarea>
    </div>

{%  if canManageTask %}
    <div class="wall">
    <h3> History of changes to this task: </h3>
    <div class="brick">
        <table id="taskHistoryTable" class="dataTable" cellspacing="0" width="90%">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Needed Work</th>
                    <th>Pct at CERN</th>
                    <th>locked</th>
                    <th>taskType</th>
                    <th>shiftTypeId</th>
                    <th>comments</th>
                    <th>Status</th>
                    <th>Last update</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    </div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script language="JavaScript">
$(document).ready(function() {

    function addFav(){
        $.ajax({
            url: $SCRIPT_ROOT+"/api/v1.0/addToFavourites",
            data: {
                "taskCode": "{{ taskInfo['code'].replace('/','_') }}",
                },
            method: "POST",
            success: function(){
               $('a#fav')
                     .addClass('active')
                     .attr('title','[-] Remove from favorites')
                     .unbind('click')
                     .bind('click', removeFav)
               ;
            }
        });
    }

    function removeFav(){
        $.ajax({
            url: $SCRIPT_ROOT+"/api/v1.0/removeFromFavourites",
            data: {
                "taskCode": "{{ taskInfo['code'].replace('/','_') }}",
                },
            method: "POST",
            success: function(){
                $('a#fav')
                     .removeClass('active')
                     .attr('title','[+] Add as favorite')
                     .unbind('click')
                     .bind('click', addFav)
                ;
            }
        });
    }

    setupHelpButton();

    //this will make the link listen to function addFav (you might know this already)
{#    $('a#fav').bind('click', addFav);#}
    {% if taskInfo['code'] in favTaskCodes %}
        $('a#fav').bind('click', removeFav);
    {%  else %}
        $('a#fav').bind('click', addFav);
    {%  endif %}



    // column-wise search
    $('#pledgeTable tfoot th').each( function () {
        var title = $(this).text();
        if (title.length == 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    } );

    function getColour(val) {
        var col = '';
        if ( val == '-') {
            col = 'deeppink';
        } else if ( parseFloat(val) > 0.80  ) {
              col = 'lawngreen';
        } else if ( parseFloat(val) > 0.42 ) {
             col = 'orange';
        } else if ( parseFloat(val) > -0.1 ) {
            col = 'orangered';
        }
        return col;
    }

    $("#events").html("");

    var canManageTask = ("{{ canManageTask }}" == 'True');

    var start;
    var events = $("#events");
    var table = $("#pledgeTable").DataTable({
        "deferRender": true,
        stateSave: true,
        // "fixedHeader" : true,
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        // see: https://datatables.net/examples/basic_init/dom.html
        "dom": icmsEprDOM(),

        "footerCallback": function (row, data, start, end, display) {
            return footerSummary( row, data, start, end, display, this.api(), "pledgeTable", [3,4,5], [], 2)
        },
        "ajax": {
            url : '{{ url_for("api.pledgesForTaskCodes") }}',
            data : {
                "year" : {{ session['year'] }} ,
                "taskCodes"  : "{{ taskInfo['code'].replace('/','_') }}",
            } , // close opened "data" block
            method:"POST",
            "dataSrc": "allProjects",
            beforeSend: function(xhr, settings) {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading info ... ');
            },
            complete: function() {
                var stop = new Date().getTime();
                $("#loading-time").html('Loading took '+ (stop-start).toFixed(0) +' msec.');
            },
        },
        "columnDefs": [
            // add a first column with checkboxes
            { targets : 0,
              orderable: false,
              className: 'select-checkbox'
            },
            { targets: 8, visible : false, },
            { targets: [9,10], visible : false, 
                render: function ( data, type, row ) {
                    // console.log('pledges: ', row);
                    if ( canManageTask ) {
                        var edit = '<a href="'+$SCRIPT_ROOT+'/pledgeByCode/'+row[11]+'"> edit/update </a>';
                        console.log('edit:', edit);
                        return edit;
                    } else {
                        return ''+row[11];
                    }
                  }
            },
            { targets: 11, visible : false, },
            // { "data": 10, targets: 1,  },
            // { "data": 11, targets: 2,  },
            // { "data": 12, targets: 3,  },
            // { "data": 13, targets: 4,  },
            // { "data": 14, targets: 5,  },
            // { "data": 15, targets: 6,  },
            // { "data": 16, targets: 7, "render":
            //                     function ( data, type, row ) {
            //                             return data + '<br/><br/><a href="'+$SCRIPT_ROOT+'/showPledge/'+row[20]+'"> '+row[20]+' </a>';
            //                     } },
            // { "data": 17, targets: 8, visible : false, },
            // { "data": 18, targets: 9,  },
            // { "data": 19, targets: 10,  },
            // { "data": null, targets: 11, visible : false, "render":
            //                     function ( data, type, row ) {
            //                             return ''+row[20];
            //                     }
            // },
        ],
        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },
    });

    setupColSearch(table);

    // add our buttons to the table and prepend them to the table:
    icmsEprButtons( { table: table,
                      buttonDivName : 'tableButtons',
                      addOnButtons : [ {
                            text: "Approve selected",
                            action: function ( e, dt, node, config ) {
                                        approvePledges( table, table.buttons.exportData( {
                                            modifier: { selected: true }
                                        } ) );
                                        dt.rows().deselect();
                                    } // end function
                            }, // end button "Approve selected"
                            {
                            text: "SendMail selected",
                            action: function ( e, dt, node, config ) {
                                        sendMail( table, table.buttons.exportData( {
                                            modifier: { selected: true }
                                        } ) );
                                        dt.rows().deselect();
                                    } // end function
                            }, // end button "SendMail selected"
                            //  document.getElementById("copyButton").addEventListener("click", function() {
                            //    copyToClipboard(document.getElementById("copyTarget"));
                            //  });
                            {
                            text: "Show selected mail addr for copying",
                            action: function ( e, dt, node, config ) {
                                        getMailAddrs( table, table.buttons.exportData( {
                                            modifier: { selected: true }
                                        } ) );
                                        dt.rows().deselect();
                                    } // end function
                            }, // end button "Copy selected mail addr to clipboard"


                      ]
                  } );
    table.draw();

    // not working, needs debugging ... later ...
    // addEvtListeners( 'projectTable', table, {{ year }} );

    // Add event listener for showing/hiding task description
        $('#projectTable tbody').on('click', 'td.task-description', function () {

            var tr = $(this).closest('tr');
            var row = table.row( tr ).data();
            var taskCode = row[23];
            var taskDesc = $(this).find("div#task-desc");

            if (taskDesc.html() == '') {
                // Assign handlers immediately after making the request,
                // and remember the jqXHR object for this request
                var url = '{{ url_for("api.taskByCode") }}';
                var jqxhr = $.ajax( {
                                url: url,
                                method : "POST",
                                data: { "year" : {{ session['year'] }} ,
                                        'code' : taskCode.replace('/','_') },
                                })
                  .done(function(data, textStatus, jqXHR) {
                          var mgrString = data.description+'<br/><b>'+data.numMgrs+' Managers:<br/>';
                          mgrString += '<a href="mailto:'+data.mgrEmails+'?Subject=Request%20for%20information">'+data.mgrs+'</a></b>'
                          taskDesc.html(mgrString).css("font-style", "italic").show();

                  //  })
                  // .fail(function() {
                  //   alert( "error for "+taskName );
                  });
            }
            taskDesc.toggle();
        } );


        var histTable = $('#taskHistoryTable').DataTable({
        stateSave: true,
        "dom": icmsEprDOM(),
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        "order": [[5, 'desc']], // order by timestamp of entry, most recent on top
        "ajax": {
            "url": "{{ url_for('api.taskHistory') }}",
            method : "POST",
            data: { "year" : {{ year }},
                    "taskCode" : "{{ task.code.replace('/','_') }}",
                  },
            beforeSend: function() {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading history ... ');
            },
            complete: function() {
                var stop = new Date().getTime();
                $("#loading-time").html('Loading history took '+ (stop-start).toFixed(0) +' msec.');
            },
            error : function( data , textStatus /* , jqXHR */ ) {
                console.log('error!')
                console.log(textStatus);
                console.log(data);
            },
        },
        "columnDefs": [
            { "data": "description"    , targets: 0,
                      "render": function ( data, type, row ) {
                                    var ret = ' = ';
                                    if (data) { ret = data; }
                                    if (row.description_mod) { ret = '<div class="histChg">' + data + '</div>'; }
                                    return ret;
                      },
            },
            { "data": "neededWork"    , targets: 1,
                      "render": function ( data, type, row ) {
                                    var ret = ' = ';
                                    if (data) { ret = data.toFixed(2); }
                                    if (row.neededWork_mod) { ret = '<div class="histChg">' + data.toFixed(2) + '</div>'; }
                                    return ret;
                      },
            },
            { "data": "pctAtCERN"    , targets: 2,
                      "render": function ( data, type, row ) {
                                    var ret = ' = ';
                                    if (data) { ret = data.toFixed(2); }
                                    if (row.pct_at_cern_mod) { ret = '<div class="histChg">' + data.toFixed(2) + '</div>'; }
                                    return ret;
                      },
            },
            { "data": "locked"    , targets: 3,
                      "render": function ( data, type, row ) {
                                    var ret = ' = ';
                                    if (data) { ret = data; }
                                    if (row.locked_mod) { ret = '<div class="histChg">' + data + '</div>'; }
                                    return ret;
                      },
            },
            { "data": "tType"    , targets: 4,
                      "render": function ( data, type, row ) {
                                    var ret = ' = ';
                                    if (data) { ret = data; }
                                    if (row.t_type_mod) { ret = '<div class="histChg">' + data + '</div>'; }
                                    return ret;
                      },
            },
            { "data": "shiftTypeId"    , targets: 5,
                      "render": function ( data, type, row ) {
                                    var ret = ' = ';
                                    if (data) { ret = data; }
                                    if (row.shift_type_id_mod) { ret = '<div class="histChg">' + data + '</div>'; }
                                    return ret;
                      },
            },
            { "data": "comment"    , targets: 6,
                      "render": function ( data, type, row ) {
                                    var ret = ' = ';
                                    if (data) { ret = data; }
                                    if (row.comment_mod) { ret = '<div class="histChg">' + data + '</div>'; }
                                    return ret;
                      },
            },
            { "data": "status"    , targets: 7,
                      "render": function ( data, type, row ) {
                                    var ret = ' = ';
                                    if (data) { ret = data; }
                                    if (row.status_mod) { ret = '<div class="histChg">' + data + '</div>'; }
                                    return ret;
                      },
            },
            { "data": "timestamp"  , targets: 8,
            },
        ],
    });

});
</script>

{% endblock %}
