{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block styles %}
{{ super() }}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">

{% endblock %}

{% block title %}iCMS - EPR Shifts Institute Overview in {{ year }} - {{ proposal }} {% endblock %}

{% block page_content %}

<div class="page-header">
    <h2>iCMS - EPR Shifts Institute Overview in {{ year }} - {{ proposal }} </h2>
</div>


<!--  

More info:
Patty's talk at CMS Special CB MAY 12, 2023 (https://indico.cern.ch/event/1283051/):
https://indico.cern.ch/event/1283051/contributions/5390188/attachments/2645593/4579304/CB%20Shifts%20May%202023%20v3.pdf

Lucia's talk at CMS MB 255, May 8, 2023 (https://indico.cern.ch/event/1280893/):
https://indico.cern.ch/event/1280893/contributions/5380895/attachments/2643022/4574396/MB255-Shifts_LS.pdf

Central shifts for Proposal-1:

Central  |  DCS           |  main
Central  |  Shift_leader  |  main
DAQ      |  Shifter       |  main

Central shifts for Proposal-2:

Proposal-1 plus:
DQM  | Shifter-P5        | main
DQM  | Shifter-ROC-China | main
DQM  | Shifter-ROC-DESY  | main
DQM  | Shifter-ROC-FNAL  | main
TRG  |    Shifter        |  main
    
DOC-1 shifts Proposal-2:

Central  |       RFM      |  main
Central  |       RFM      |  main 2nd
TRG      |     L1_DOC     |  main
TRG      |     HLT_DOC    |  main
DAQ      |       DOC      |  main
Off      |      line      |  ORM  |  main
Pixel    |       DOC      |  main
TRK      |       DOC      |  main
ECAL     |       DOC      |  main
HCAL     |       DOC      |  main
DT       |       DOC      |  main
RPC      |       DOC      |  main
CSC      |       DOC      |  main
GEM      |       DOC      |  main
BRIL     |       DOC      |  main
CT       |       PPS      |  DOC  |  main


-->


<div>
    <p>
        <h4>Note:</h4>
        Using the 
        {% if proposal.lower() == 'proposal-1' %}
            <b>CMS Shift Quota #1 (CSQ1)</b> defined as <b>Core P5 shifts</b>: Shift Leader (SL), Technical shift (TS), DAQ shift
        {% else %}
            <b>CMS Shift Quota #2 (CSQ2)</b> defined as <b>Core P5 shifts</b> (Shift Leader (SL), Technical shift (TS), DAQ) <b> + Trigger (TRG), DQM shifts + DOC#1</b> included.
        {% endif %}        
        grouping for the definition of the "Central Shifts" category in the table below. <br/>
    </p>
    <p>
        The <b>shift weights</b> are defined as given on 
        <a href="static/Slide5-Proposal-1.png" target="_blank">slide 5</a> of 
        and 
        <a href="static/Slide6-Proposal-2.png" target="_blank">slide 6</a> of 
        <a href="https://indico.cern.ch/event/1283051/contributions/5390188/attachments/2645593/4579304/CB%20Shifts%20May%202023%20v3.pdf"> this talk </a>, for Proposal-1 and Proposal-2, respectively.
    </p>
    <p class="medium-font">
        Switch to  
        {% if proposal.lower() == 'proposal-1' %}
            <a href="{{ url_for('main.showInstitutesShifts', proposal='Proposal-2') }}"> Proposal-2</a>
        {% else %}
            <a href="{{ url_for('main.showInstitutesShifts', proposal='Proposal-1') }}"> Proposal-1 </a>
        {% endif %}
        or view  
        {% if proposal.lower() == 'proposal-2' %}
            <a href="{{ url_for('main.showCountryRegionShifts', proposal='Proposal-2') }}"> Countries and Regions </a>
        {% else %}
            <a href="{{ url_for('main.showCountryRegionShifts', proposal='Proposal-1') }}"> Countries and Regions </a>
        {% endif %}
    </p>
    <p>
        The "# of Authors" reflect the possible changes of authorship flags during the year, hence the fractional numbers, not counting Emeriti.
    </p>
    <p>
        The <b>CMS shift quota (CSQ)</b> expected for an author in {{ year }} is: <b> {{ csqPerAuthor }} CSQs</b>.
    </p>
</div>

<div>
    <h4>For more details on the shifts see the 
        <a href="https://twiki.cern.ch/twiki/bin/viewauth/CMS/CentralShifts{{year}}#Central_credit_accounting">Central credit accounting part of the Central Shift Twiki page.</a>
    </h4>
</div>

<!-- 
{% if year > 2021 %}
<div>
    <h3>Glossary:</h3>
    <p>
        Total number of <b>shifts</b> in 2023 (in shift points) = 13110 shifts (
        {% if proposal.lower() == 'proposal-1' %}
        16272
        {% else %}
        22840 
        {% endif %}
        shift points) <br/>
        Total number of <b>authors</b> (from May 10) =  2092 <br/>
        Total number of <b>Quota shifts points</b> expected = 
        {% if proposal.lower() == 'proposal-1' %}
        3996
        {% else %}
        17949 
        {% endif %}
         <br/>
        Conversion of shift points to EPR:  5 shift points = 1 EPR week therefore: <br/> 
        <b>1 shift point</b> * (1 EPR week / 5 shift credits) * (12 EPR months / 52 EPR weeks) = <b>0.0462 EPR months</b> <br/>
    </p>
    <p>
        <b>Shifts expected:</b> The number of required central shifts based on the number of authors.  
        {% if proposal.lower() == 'proposal-1' %}
            For proposal 1 this is the number of Core P5 (SL, TS, DAQ) shifts expected for the whole year.  (Units = shift points) 
            with the following weights<br/>
            <ul>
                <li>8 h shift: weekday day/evening/night = 1.0/1.0/2.0 </li>
                <li>8 h shift: weekend day/evening/night = 2.0/2.0/3.0 </li>
            </ul>
        {% else %}
            For proposal 2 this is the number of Core P5 (SL, TS, DAQ) plus the Trigger (TRG), DQM shifts and DOC#1 shifts expected for the whole year.  (Units = shift points) 
            with the following weights<br/>
            <ul>
                <li> 8 h shift: weekday day/evening/night = 1.5/1.5/3.0 </li>
                <li> 8 h shift: weekend day/evening/night = 3.0/3.0/4.0 </li>
                <li>24 h shift (e.g. DOC#1, #2, #3) weekday/weekend = 1.0/1.5</li>
            </ul>
        {% endif %}
    </p>
    <p>
        <b>All shifts:</b>  All shifts pledged or done (in units of shift points) that are included in the accounting of the EPR credits <br/>
        {% if proposal.lower() == 'proposal-1' %}
            <b>Central shifts:</b> Core P5 shifts that have been pledged for the full year - includes shifts already completed (Units = shift points) <br/>
            <b>Central shifts done:</b>  Core P5 shifts completed for this year (units = shift points)<br/>
        {% else %}
            <b>Central shifts:</b>  Core P5 (SL, TS, DAQ) plus the Trigger (TRG), DQM shifts and DOC#1 shifts that have been pledged for the full year - includes shifts already completed (Units = shift points) <br /> 
            <b>Central shifts done:</b> Core P5 (SL, TS, DAQ) plus the Trigger (TRG), DQM shifts and DOC#1 shifts completed for this year (units = shift points) <br/>
        {% endif %}
        <b> "N" so far </b> is calculated by dividing the value (N) by the fraction of the year which has passed as of today.
    </p>
</div>
{% endif %}
-->


<br />
<button id="showHideHelp" type='button'>Show Help</button>
<div id="info-help" hidden>
    <p>
        Clicking on the headers of the columns sorts them, a second click on the header reverses the sorting order.
    </p>
    <p>
        At the bottom of the table you find fields to search in individual columns. Independent searches will be combined with "AND".
    </p>
    <p>
        You can select individual rows by clicking on the checkbox in the first column. The selected rows can then be exported in various ways by clicking on the "Export selected..." button, and selecting the desired format in the pop-up menu from there.
    </p>
</div>

<div name="instShiftsTableDiv" >
    <div name="tableButtons" id="tableButtons"></div>

    <div class="brick huge padded">
        <table id="instituteShiftTable" class="dataTable" cellspacing="0" width="90%">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Country</th>
                    <th># of Authors</th>
                    <th>Central Shifts expected</th>
                    <th>Central Shifts</th>
                    <th>Central Shifts Done</th>
                    <th>Central Shifts/Expected</th>
                    <th>Central Shifts Done/Expected<br/> so far</th>
                    <th>All Shifts</th>
                    <th>CMS Status</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Country</th>
                    <th># of Authors</th>
                    <th>Central Shifts expected</th>
                    <th>Central Shifts</th>
                    <th>Central Shifts Done</th>
                    <th>Central Shifts<br />Expected</th>
                    <th>Central Shifts Done/Expected<br/> so far</th>
                    <th>All Shifts</th>
                    <th>CMS Status</th>
                </tr>
                <tr>
                    <td></td>
                    <td>Name</td>
                    <td>Country</td>
                    <td># of Authors</td>
                    <td>Central Shifts expected</td>
                    <td>Central Shifts</td>
                    <td>Central Shifts Done</td>
                    <td>Central Shifts<br />Expected</td>
                    <td>Central Shifts Done/Expected<br /> so far</td>
                    <td>All Shifts</td>
                    <td>CMS Status</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<hr /> 

<div name="instNoShiftsTableDiv" >

    <h3> Full member institutes with no shifts booked yet. </h3>

    <div name="tableButtons1" id="tableButtons1"></div>

    <div class="brick huge padded">
        <table id="instituteNoShiftsTable" class="dataTable" cellspacing="0" width="90%">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Country</th>
                    <th># of Authors</th>
                    <th>Central Shifts expected</th>
                    <th>Central Shifts</th>
                    <th>Central Shifts Done</th>
                    <th>Central Shifts/Expected</th>
                    <th>Central Shifts Done/Expected<br/> so far</th>
                    <th>All Shifts</th>
                    <th>CMS Status</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Country</th>
                    <th># of Authors</th>
                    <th>Central Shifts expected</th>
                    <th>Central Shifts</th>
                    <th>Central Shifts Done</th>
                    <th>Central Shifts<br />Expected</th>
                    <th>Central Shifts Done/Expected<br/> so far</th>
                    <th>All Shifts</th>
                    <th>CMS Status</th>
                </tr>
                <tr>
                    <td></td>
                    <td>Name</td>
                    <td>Country</td>
                    <td># of Authors</td>
                    <td>Central Shifts expected</td>
                    <td>Central Shifts</td>
                    <td>Central Shifts Done</td>
                    <td>Central Shifts<br />Expected</td>
                    <td>Central Shifts Done/Expected<br /> so far</td>
                    <td>All Shifts</td>
                    <td>CMS Status</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% endblock %}

<p>
    {{ groups }}
</p>

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}


<script language="JavaScript">
$(document).ready(function() {

    setupHelpButton();

    // column-wise search
    $('#instituteShiftTable tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );


    var start;
    var table = $('#instituteShiftTable').DataTable({
        // see: https://datatables.net/examples/basic_init/dom.html
        stateSave: true,
        "dom": icmsEprDOM(),
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],

        "ajax": {
            "url": "{{ url_for("api.instShiftOverview") }}",
            method : "POST",
            data: { "year" : {{ year }}, "proposal": "{{ proposal }}" },
            beforeSend: function() {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading info ... ');
            },
            complete: function() {
                var stop = new Date().getTime();
                $("#loading-time").html('Loading took '+ (stop-start).toFixed(0) +' msec.');
            },
        }, 
        "order": [[1, 'asc']],
        
        "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;
            if (data.length > 0) {

                // Remove the formatting to get integer data for summation
                var intVal = function ( i ) {
                    return typeof i === 'string' ? i.replace(/[\$,]/g, '')*1 : typeof i === 'number' ?  i : 0;
                };

                var i = -1;
                var numCols = [3,4,5,6];
                $( "#instituteShiftTable tfoot tr" ).children("td").each( function() {
                    i++;
                    if (i == 1) {
                        $(this).html('<b>Sum this page <br /> Sum all pages</b>');
                    } else if ( numCols.indexOf(i) != -1 ) {
                        // totals over all pages
                        totals = api.column( i ).data().reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        },0 );

                        // totals_page over this page
                        totals_page = api.column( i, { page: 'current'} ).data().reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );

                        totals_page = parseFloat(totals_page);
                        totals      = parseFloat(totals);
                        // Update footer
                        $(this).html( '<b>'+totals_page.toFixed(2)+"<br />"+totals.toFixed(2)+'</b>' );
                    } else {
                        $(this).text('');
                    }
                });
            }
        },

    
        "columnDefs": [
            { "render": function ( data, type, row ) {
                    if ( (parseFloat(data) > 0.) && (parseFloat(data) < 0.01) ) {
                        return data.toFixed(3);
                    } else {
                        if (data === undefined) { return ' - '; }
                        if (data !== null) {
                            // console.log(data);
                            return ' ' + data.toFixed(2);
                        } else {
                            return ' - ';
                        }
                    }
                },
                "targets": [3,4,5,6,8,9]
            },
            // add a first column with checkboxes
            {   orderable: false,
                className: 'select-checkbox',
                targets : 0,
            },
            // instCode, country, shifts, shiftsCentral, ratio, expected, cspOvrExp, status
            { targets: 1,  // instCode
              render: function ( data, type, row ) {
                    var instCode = data;
                    var url = '{{ url_for("main.showInstitute") }}';
                    return '<a href="'+url+'/'+instCode+'"> '+data+' </a>';
                },
            },
            { targets: 2 },  // Country
            { targets: 3 },  // nAuthors, excl. Emeriti
            { targets: 4 },   // central shifts expected (nAuth * CSP_PER_AUTHOR)
            { targets: 5 },  // central Shifts 
            { targets: 6 },  // central Shifts Done
            { targets: 7,  // central / expected
                "render": function ( data, type, row ) {
                    if ( (row[3] < 0.003) && ( (row[5] > 0.) || (row[6] > 0.) ) ) {
                        return 100.;
                    } else if ( (row[3] < 0.003) && ( (row[9] > 0.) ) ) {
                        return 50.;
                    } else {
                        if (row[7] === undefined) { return ' - '; }
                        if (row[7] !== null) {
                            // console.log(data);
                            return ' ' + row[7].toFixed(2);
                        } else {
                            return ' - ';
                        }
                    };
                }
            },
            { targets: 8 },  // centralDone / expected so far
            { targets: 9 },  // all Shifts 
            { targets:10, "visible": false,
                "render": function ( data, type, row ) {
                    if ( row[10] === "Yes" ) { return "Full member"; }
                    return row[10];
                }
            },
        ],
        // add colour to the taks done related fields; using central/expected
        "createdRow": function ( row, data, index ) {
                if ( parseFloat(data[7]) >= 0 ) {
                    // make sure the threshold list is the same as in showInstitute.html:
                    var instCode = row[1];
                    var col;
                    console.log(data);
                    if ( (parseFloat(data[3]) == 0.) && ( parseFloat(data[5]) > 0.) ) {
                        col = 'noAuthShifts';
                    } else if (data[10] === 'Cooperating') {
                       col = 'coordinst';
                    } else if (data[10] === 'Associated')  {
                        col = 'associnst';
                    } else if ( (parseFloat(data[3]) == 0.) && (parseFloat(data[9]) > 0.) ) {
                        col = 'noAuthShifts';
                    } else {
                        var col = getColour(data[7], thrList = [1.00, 0.89, -0.1]);
                    }
                    $('td', row).addClass(col);
                }
        },
        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },
    });

    // add our buttons to the table and prepend them to the table:
    icmsEprButtons( { table: table,
                      buttonDivName : 'tableButtons',
                      addOnButtons : [
                            {
                            text: "Send mail to CBI/CBDs <br/> of selected institutes",
                            action: function ( e, dt, node, config ) {
                                        sendMailInstLeaders( table, table.buttons.exportData( {
                                            modifier: { selected: true }
                                        } ) );
                                        dt.rows().deselect();
                                    } // end function
                            }, // end button "SendMail selected"
                      ]
    } );
    table.draw();

    setupColSearch(table);

    // ----------------------------------------------------------------------------------------------------
    // ... and here for the insts w/o any booked shifts
    // ----------------------------------------------------------------------------------------------------

    var startNoS;
    var tableNoS = $('#instituteNoShiftsTable').DataTable({
        // see: https://datatables.net/examples/basic_init/dom.html
        stateSave: true,
        "dom": icmsEprDOM(),
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],

        "ajax": {
            "url": "{{ url_for("api.instNoShiftsOverview") }}",
            method : "POST",
            data: { "year" : {{ year }}, "proposal": "{{ proposal }}" },
            beforeSend: function() {
                var d = new Date();
                startNoS = d.getTime();
                $("#loading-time").html('loading info ... ');
            },
            complete: function() {
                var stop = new Date().getTime();
                $("#loading-time").html('Loading took '+ (stop-startNoS).toFixed(0) +' msec.');
            },
        }, 
        "order": [[1, 'asc']],
        
        "footerCallback": function ( row, data, startNoS, end, display ) {
            var api = this.api(), data;
            if (data.length > 0) {

                // Remove the formatting to get integer data for summation
                var intVal = function ( i ) {
                    return typeof i === 'string' ? i.replace(/[\$,]/g, '')*1 : typeof i === 'number' ?  i : 0;
                };

                var i = -1;
                var numCols = [3,4,5,6];
                $( "#instituteNoShiftsTable tfoot tr" ).children("td").each( function() {
                    i++;
                    if (i == 1) {
                        $(this).html('<b>Sum this page <br /> Sum all pages</b>');
                    } else if ( numCols.indexOf(i) != -1 ) {
                        // totals over all pages
                        totals = api.column( i ).data().reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        },0 );

                        // totals_page over this page
                        totals_page = api.column( i, { page: 'current'} ).data().reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );

                        totals_page = parseFloat(totals_page);
                        totals      = parseFloat(totals);
                        // Update footer
                        $(this).html( '<b>'+totals_page.toFixed(2)+"<br />"+totals.toFixed(2)+'</b>' );
                    } else {
                        $(this).text('');
                    }
                });
            }
        },

    
        "columnDefs": [
            { "render": function ( data, type, row ) {
                    if ( (parseFloat(data) > 0.) && (parseFloat(data) < 0.01) ) {
                        return data.toFixed(3);
                    } else {
                        if (data === undefined) { return ' - '; }
                        if (data !== null) {
                            // console.log(data);
                            return ' ' + data.toFixed(2);
                        } else {
                            return ' - ';
                        }
                    }
                },
                "targets": [3,4,5,6,7,8,9]
            },
            // add a first column with checkboxes
            {   orderable: false,
                className: 'select-checkbox',
                targets : 0,
            },
            // instCode, country, shifts, shiftsCentral, ratio, expected, cspOvrExp, status
            { targets: 1,  // instCode
              render: function ( data, type, row ) {
                    var instCode = data;
                    var url = '{{ url_for("main.showInstitute") }}';
                    return '<a href="'+url+'/'+instCode+'"> '+data+' </a>';
                },
            },
            { targets: 2 },  // Country
            { targets: 3 },  // nAuthors, excl. Emeriti
            { targets: 4 },   // central shifts expected (nAuth * CSP_PER_AUTHOR)
            { targets: 5 },  // central Shifts 
            { targets: 6 },  // central Shifts Done
            { targets: 7,  // central / expected
                "render": function ( data, type, row ) {
                    if ( (row[3] < 0.003) && ( (row[5] > 0.) || (row[6] > 0.) ) ) {
                        return 100.;
                    } else if ( (row[3] < 0.003) && ( (row[9] > 0.) ) ) {
                        return 50.;
                    } else {
                        if (row[7] === undefined) { return ' - '; }
                        if (row[7] !== null) {
                            // console.log(data);
                            return ' ' + row[7].toFixed(2);
                        } else {
                            return ' - ';
                        }
                    };
                }
            },
            { targets: 8, visible: false },  // centralDone / expected so far
            { targets: 9, visible: false },  // all Shifts 
            { targets:10, visible: false,
                "render": function ( data, type, row ) {
                    if ( row[10] === "Yes" ) { return "Full member"; }
                    return row[10];
                }
            },
        ],
        // add colour to the taks done related fields; using central/expected
        "createdRow": function ( row, data, index ) {
                if ( data[7] >= 0 ) {
                    // make sure the threshold list is the same as in showInstitute.html:
                    var instCode = row[1];
                    var col;
                    // console.log(data);
                    if ( (data[3] == 0.00) && ( data[5] > 0.) ) {
                        col = 'noAuthShifts';
                    } else if (data[10] === 'Cooperating') {
                       col = 'coordinst';
                    } else if (data[10] === 'Associated')  {
                        col = 'associnst';
                    } else if ( (data[3] == 0.) && (data[9] > 0.) ) {
                        col = 'noAuthShifts';
                    } else {
                        var col = getColour(data[7], thrList = [1.00, 0.89, -0.1]);
                    }
                    $('td', row).addClass(col);
                }
        },
        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },
    });

    // add our buttons to the table and prepend them to the tableNoS:
    icmsEprButtons( { table: tableNoS,
                      buttonDivName : 'tableButtons1',
                      addOnButtons : [
                            {
                            text: "Send mail to CBI/CBDs <br/> of selected institutes",
                            action: function ( e, dt, node, config ) {
                                        sendMailInstLeaders( tableNoS, tableNoS.buttons.exportData( {
                                            modifier: { selected: true }
                                        } ) );
                                        dt.rows().deselect();
                                    } // end function
                            }, // end button "SendMail selected"
                      ]
    } );
    tableNoS.draw();

    setupColSearch(tableNoS);


}); // end document.ready ...

</script>

{% endblock %}
