{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.css') }}">

{% endblock %}

{% block title %}iCMS - EPR Splitting Pledge {% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>
        iCMS - EPR Splitting Pledge
    </h1>
</div>

<div class="brick padded task-info">
    <ul>
        <li> <b>Pledge code  :</b> {{ pledge.code }} </li>
        <li> <b>Task Id      :</b> {{ pledge.taskId }} </li>
        <li> <b>Institute    :</b> {{ institute.code }} </li>
        <li> <b>Status       :</b> {{ pledge.status }} </li>
        <li> <b>Work needed  :</b> {{ pledge.workTimePld }} </li>
        <li> <b>Work accepted:</b> {{ pledge.workTimeAcc }} </li>
        <li> <b>Work done    :</b> {{ pledge.workTimeDone }} </li>
    </ul>
</div>

<div class="brick padded col-md-3">
    <div class="col-md-3">
        <button id="change-inst"> Select institute to share pledge </button>
    </div>

    <div id="chg-inst-dialog-form" class="ui-front" title="Change institute" hidden>
      <p class="validateTips">Start typing a few characters of the institute's name or code, then click on the institute in the list.</p>
      <form>
        <label for="instSel-1">Select the institute to which the pledge should be accounted: </label>
        <input id="instSel-1" name="instSel-1" class="text ui-widget-content ui-corner-all"/>

        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
      </form>
    </div>
</div>

<div class="brick padded col-md-3">
    <form action="" method="post" name="splitPledge" id="splitPledge">
        {{ form.hidden_tag() }}

        <input type="hidden" id="plCode"  name="plCode"  value="{{ plCode }}" />

        <p> {{ form.newInst.label }} <br/> {{ form.newInst }} </p>
        <p> {{ form.newInstWork.label }} <br/> {{ form.newInstWork }} </p>
        <p> {{ form.submit.label }} <br/> {{ form.submit}} </p>
{#        <p> <input type="submit" value="Submit"> </p>#}
    </form>

</div>


{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script language="JavaScript">
    $(function() {

        var dialogI, formI;
        var instId;

         $( "#instSel-1" ).autocomplete( {
            autoFocus: true,
            minLength: 3,
            source: '{{ url_for("api.searchInstCode") }}',
            select: function( event, ui ) {
                    instId = ui.item.value;
                    $( "#instSel-1" ).autocomplete("close");
                  }
        } );

       function changeInst() {
            $("#newInst").html( instId ).val( instId );
            dialogI.dialog( "close" );
        }

        dialogI = $( "#chg-inst-dialog-form" ).show().dialog({
            autoOpen: false,
            height: 500,
            width: 600,
            modal: true,
            buttons: {
                "Confirm new Institute": changeInst,
                Cancel: function() {
                    dialogI.dialog( "close" );
                }
            },
            close: function() {
                formI[ 0 ].reset();
            }
        });

        formI = dialogI.find( "form" ).on( "submit", function( event ) {
          event.preventDefault();
          changeInst();
        });

        $( "#change-inst" ).button().on( "click", function() {
            dialogI.dialog( "open" );
        });

    });

</script>


<script language="JavaScript">
$(document).ready(function() {

    $("dialog-confirm").dialog("open");

    // update the fields in the form ....
    $("#instNew").val( $("#instId-0").html() );

    // clear the search field and set the focus to it:
    $('#instSel-1').val('');
    $('#instSel-1').focus();

    {#$(':submit').on('click', function() { // This event fires when a button is clicked#}
    {#    var button = $(this).val();#}
    {#    $.ajax({#}
    {#        url: "{{ url_for('api.splitPledge') }}",#}
    {#        data: {#}
    {#            "plCode": "{{ plCode }}",#}
    {#            },#}
    {#        method: "POST",#}
    {#    })#}
    {#    .done( function( data ){#}
    {#            console.log(data);#}
                {#location.href = "{{ url_for('main.showPledge', code=plCode) }}";#}
    {#        })#}
    {#    .fail ( function( data ){#}
    {#            console.log(data);#}
    {#            alert(data);#}
    {#    });#}
    {#});#}

    setupHelpButton();

});
</script>

{% endblock %}
