{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "_macros.html" as macros %}

{% endblock %}

{% block styles %}
{{ super() }}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">

{% endblock %}

{% block title %}iCMS - EPR Project Statistics in {{ year }} {% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>iCMS - EPR Project Statistics in {{ year }} </h1>
</div>


<div>
    <p>
        The "# of Authors" reflect the possible changes of authorship flags during the year, hence the fractional numbers. "Applicant Due" is the work needed from the sum of the "newcomers". "Expected" is the sum of the "Applicant Due" and "# of Authors" times 3 months for 2016/2017, 4 months for 2018/2019.
    </p>
    <p>
        The "EPR done fraction" column is the sum of the Work Done plus the shifts done, reflecting the overall EPR work done, divided by the expected work for the institute.
    </p>
</div>

<button id="showHideHelp" type='button'>Show Help</button>

<div id="info-help" hidden>
    <p>
        Clicking on the headers of the columns sorts them, a second click on the header reverses the sorting order.
    </p>
    <p>
        At the bottom of the table you find fields to search in individual columns. Independent searches will be combined with "AND".
    </p>
    <p>
        You can select individual rows by clicking on the checkbox in the first column. The selected rows can then be exported in various ways by clicking on the "Export selected..." button, and selecting the desired format in the pop-up menu from there.
    </p>
</div>

<div>
<h2> Project summary for {{ selYear }} </h2>
</div>

<div name="tableButtons" id="tableButtons"></div>

<div class="brick huge padded">
    <table id="projSummary" class="dataTable" cellspacing="0" width="90%">
        <thead>
            <tr>
                <th></th>
                <th> Project </th>
                <th> Nr of Inst. Resp. tasks </th>
                <th> Nr of tasks  </th>
                <th> Total Registered CMS people </th>
                <th> Total Authors </th>
                <th> Total Applicants </th>
                <th> Total Institute </th>
                <th> Total Countries </th>
                <th> People pledged </th>
                <th> Authors Pledged </th>
                <th> Institutes Pledged  </th>
                <th> Countries Pledge </th>
                <th> Total Work Needed  </th>
                <th> Work + Shifts done  </th>
                <th> Fraction Done  </th>
                <th> Work+Shifts Pledged </th>
                <th> Fraction Pledged  </th>
                <th> Pledges Accepted  </th>
                <th> Fraction Accepted  </th>
                <th> Pledges Rejected  </th>
                <th> Fraction Rejected </th>                
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <th></th>
                <th> Project </th>
                <th> Nr of Inst. Resp. tasks </th>
                <th> Nr of tasks  </th>
                <th> Total Registered CMS people </th>
                <th> Total Authors </th>
                <th> Total Applicants </th>
                <th> Total Institute </th>
                <th> Total Countries </th>
                <th> People pledged </th>
                <th> Authors Pledged </th>
                <th> Institutes Pledged  </th>
                <th> Countries Pledge </th>
                <th> Total Work Needed  </th>
                <th> Work + Shifts done  </th>
                <th> Fraction Done  </th>
                <th> Work+Shifts Pledged </th>
                <th> Fraction Pledged  </th>
                <th> Pledges Accepted  </th>
                <th> Fraction Accepted  </th>
                <th> Pledges Rejected  </th>
                <th> Fraction Rejected </th>                
            </tr>
            <tr>
                <td></td>
                <td> Project </td>
                <td> Nr of Inst. Resp. tasks </td>
                <td> Nr of tasks  </td>
                <td> Total Registered CMS people </td>
                <td> Total Authors </td>
                <td> Total Applicants </td>
                <td> Total Institute </td>
                <td> Total Countries </td>
                <td> People pledged </td>
                <td> Authors Pledged </td>
                <td> Institutes Pledged  </td>
                <td> Countries Pledge </td>
                <td> Total Work Needed  </td>
                <td> Work + Shifts done  </td>
                <td> Fraction Done  </td>
                <td> Work+Shifts Pledged </td>
                <td> Fraction Pledged  </td>
                <td> Pledges Accepted  </td>
                <td> Fraction Accepted  </td>
                <td> Pledges Rejected  </td>
                <td> Fraction Rejected </td>                
            </tr>
        </tfoot>
    </table>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}


<script language="JavaScript">
$(document).ready(function() {

    setupHelpButton();

    var start = -1;

    var prSumtable = $('#projSummary').DataTable( {
        // see: https://datatables.net/examples/basic_init/dom.html
        "stateSave": true,
        "dom": icmsEprDOM(),
        "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],

        "ajax": {
            url: '{{ url_for("api.projSummary") }}',
            data : {
                "year" : {{ session['year'] }} ,
            } , // close opened "data" block
            method : "POST",
            beforeSend: function() {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading info ... ');
            },
            complete: function() {
                var stop = new Date().getTime();
                // console.log(data);
                $("#loading-time").html('Loading took '+ (stop-start).toFixed(0) +' msec.');
            },
        },

        "footerCallback": function ( row, data, start, end, display ) {
            return footerSummary( row, data, start, end, display, this.api(), "projSummary", [2,3,4,5,6,7,8,9,10,11,12,13,14,16,18,20], [], 1)
            },

        "order": [[1, 'asc']],
        "columnDefs": [
            { "render": function ( data, type, row ) {
                    if (data === undefined) { return ' - '; }
                    if (data !== null) {
                        // console.log(data);
                        return ' ' + data.toFixed(2);
                    } else {
                        return ' - ';
                    }
                },
                "targets": [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],
            },
            {
                orderable: false,
                className: 'select-checkbox',
                targets : 0,
            },
        ],
        "select" : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },
    } );

    // column-wise search
    $('#projSummary tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );
        
    // add our buttons to the table and prepend them to the table:
    icmsEprButtons( { table: prSumtable,
                      buttonDivName : 'tableButtons',
                      addOnButtons : [
                            {
                            text: "Send mail to selected PMs",
                            action: function ( e, dt, node, config ) {
                                        sendMailPMs( prSumtable, prSumtable.buttons.exportData( {
                                            modifier: { selected: true }
                                        } ) );
                                        dt.rows().deselect();
                                    } // end function
                            }, // end button "SendMail selected"
                      ]
    } );
    prSumtable.draw();

}); // end document.ready ...

</script>

{% endblock %}
