{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block styles %}
{{ super() }}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">

{% endblock %}

{% block title %}iCMS - EPR Statistics {% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>iCMS - EPR Statistics </h1>
</div>

<div class="form">
    {% if form %}
        {{ wtf.quick_form(form) }}
    {% endif %}
</div>

<div>
    <p>
        <b>Note:</b> The EPR pledged values on this page are cached for performance reasons,
        the exact value is provided in the individual institutes view. The cache
        is updated every hour.
    </p>
    <p>
        The "# of Authors" reflect the possible changes of authorship flags during the year, hence the fractional numbers. "Applicant Due" is the work needed from the sum of the "newcomers". "Expected" is the sum of the "Applicant Due" and "# of Authors" times 3 months for 2016/2017, 4 months for 2018/2019.
    </p>
    <p>
        The "EPR done fraction" column is the sum of the Work Done plus the shifts done, reflecting the overall EPR work done, divided by the expected work for the institute.
    </p>
</div>

<button id="showHideHelp" type='button'>Show Help</button>
<div id="info-help" hidden>
    <p>
        Clicking on the headers of the columns sorts them, a second click on the header reverses the sorting order.
    </p>
    <p>
        At the bottom of the table you find fields to search in individual columns. Independent searches will be combined with "AND".
    </p>
    <p>
        You can select individual rows by clicking on the checkbox in the first column. The selected rows can then be exported in various ways by clicking on the "Export selected..." button, and selecting the desired format in the pop-up menu from there.
    </p>
</div>

<div name="tableButtons" id="tableButtons"></div>

<div class="brick huge padded">
    <table id="instSummary" class="dataTable" cellspacing="0" width="90%">
        <thead>
            <tr>
                <th></th>
                <th>Instcode</th>
                <th>Country</th>
                <th>CMS status</th>
                {% for yr in range(2016, endYear) %}
                    <th># of Authors {{ yr }} </th>
                    <th>EPR done Frac {{ yr }} </th>
                {% endfor %}
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Instcode</th>
                <th>Country</th>
                <th>CMS status</th>
                {% for yr in range(2016, endYear) %}
                    <th># of Authors {{ yr }} </th>
                    <th>EPR done Frac {{ yr }} </th>
                {% endfor %}
            </tr>
            <tr>
                <td></td>
                <td>Instcode</td>
                <td>Country</td>
                <td>CMS status</td>
                {% for yr in range(2016, endYear) %}
                    <td># of Authors {{ yr }} </td>
                    <td>EPR done Frac {{ yr }} </td>
                {% endfor %}
            </tr>
        </tfoot>
    </table>
</div>


{% endblock %}

<p>
    {{ groups }}
</p>

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}


<script language="JavaScript">
$(document).ready(function() {

    setupHelpButton();

    // column-wise search
    $('#instSummary tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );


    var start;
    var table = $('#instSummary').DataTable({
        // see: https://datatables.net/examples/basic_init/dom.html
        stateSave: true,
        "dom": icmsEprDOM(),
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],

        "ajax": {
            "url": "{{ url_for("api.instSummary") }}",
            method : "POST",
            beforeSend: function() {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading info ... ');
            },
            complete: function() {
                var stop = new Date().getTime();
                // console.log(data);
                $("#loading-time").html('Loading took '+ (stop-start).toFixed(0) +' msec.');
            },
        },
        "order": [[1, 'asc']],
        "columnDefs": [
            // add a first column with checkboxes
            {
                orderable: false,
                className: 'select-checkbox',
                data: 0,
                targets : 0,
            },
        ],
        // add colour to the taks done related fields
        "createdRow": function ( row, data, index ) {
                // make sure the threshold list is the same as in showInstitute.html:
                var col;
                // console.log(data);
                console.log(data[1], data[3]);
                if (data[3] === 'Cooperating') {
                    col = 'coordinst';
                } else if (data[3] === 'Associated')  {
                    col = 'associnst';
                } else if (data[3] === 'ForReference')  {
                    col = 'forrefinst';
                } else if (data[3] === 'No')  {
                    col = 'noinst';
                }
                $(row).addClass(col);
        },
        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },
    });

    // add our buttons to the table and prepend them to the table:
    icmsEprButtons( { table: table,
                      buttonDivName : 'tableButtons',
                      addOnButtons : [
                            {
                            text: "Send mail to CBI/CBDs <br/> of selected institutes",
                            action: function ( e, dt, node, config ) {
                                        sendMailInstLeaders( table, table.buttons.exportData( {
                                            modifier: { selected: true }
                                        } ) );
                                        dt.rows().deselect();
                                    } // end function
                            }, // end button "SendMail selected"
                      ]
    } );
    table.draw();

    setupColSearch(table);

}); // end document.ready ...

</script>

{% endblock %}
